[2019-01-07 14:48] joshmoore commented on #938
This makes me wonder if these should/could even be modeled as schema enums and then imported on startup.

[2019-01-07 16:06] #912 closed

[2019-01-07 18:18] ttung commented on #887
Probably related to https://github.com/tqdm/tqdm/issues/549 / https://github.com/tqdm/tqdm/issues/548

[2019-01-07 18:20] ttung commented on #916
Does this happen with a warmed cache?

[2019-01-07 19:59] joshmoore commented on #916
Perhaps the same as gh-912?

[2019-01-07 20:22] ttung opened #942 "Create osmFISH test in starfish/test/full_pipelines/api/"

[2019-01-07 21:09] ttung opened #943 "investigate if we need to upsize our cache for travis"

[2019-01-09 00:34] neuromusic commented on #604
does this need to happen on upload or before public release?

[2019-01-09 02:50] ttung commented on #604
I think we should do this ASAP.

[2019-01-09 02:52] ambrosejcarr commented on #604
For existing datasets, it should be done asap, as Tony says. For new datasets, I believe the process is that the uploader attached the license with the data.

[2019-01-09 17:37] kevinyamauchi commented on #938
The terminology looks good to me. However, I haven't been using the `IntensityTable` and `ExpressionMatrix` too extensively so I could be missing something.

Just out of curiosity, what is the advantage of defining the enums via a JSON-schema? Is it to make it easier to change and easier to read for a human?

[2019-01-09 23:40] ambrosejcarr commented on #938
@josh, how would you implement this? Template .py files that get compiled and checked in based on the values in the schema?

If there's a way to ensure the values autocomplete in IDEs, I'd be game if you wanted to implement this.

[2019-01-10 00:35] kevinyamauchi opened #945 "Pipeline components for preprocessing of images"
# The issue
Most microscopy images will require some amount of correction before processing to account for systematic errors (e.g.,  drift, illumination non-uniformity, channel crosstalk). Currently, the starfish expects the ingested images to already be corrected and thus the built in logging does not capture the corrects that were performed. Given that these types of corrections can have a signi

[2019-01-10 11:07] joshmoore commented on #938
I might be walking myself back here... There's enough variability between the strings and the enum names that this largely becomes coding mappings, unless there's interest in having the fact encoded in the schema "property `r` is `ROUND` in code", cF.

[code]
and
[code]

[2019-01-10 21:48] #832 closed

[2019-01-11 02:51] ttung commented on #644
I think this is done.

[2019-01-11 02:51] #644 closed

[2019-01-11 20:44] ambrosejcarr opened #950 "Cropping supported at Experiment and ImageStack level."
#939 Added support to crop ImageStacks on load. We need to propagate this capability up the stack to enable users to leverage this when loading `FieldOfView` and `ImageStack` objects from `Experiment` objects.

[2019-01-11 21:15] ttung commented on #808
Is this done?

[2019-01-11 21:17] shanaxel42 commented on #845
fixed with 946

[2019-01-11 21:55] ambrosejcarr opened #953 "Allow users to reference experiments in private data stores"
It should be possible to point starfish at an `experiment.json` file and pass the appropriate credentials, at least for common cloud stores (amazon, google).

[2019-01-11 22:01] ambrosejcarr opened #954 "Refactor starfish.display.stack"
`Starfish.display.stack` knows about Starfish's `IntensityTable` and `ImageStack` objects -- at present an `ImageStack` is _required_. The display method could be refactored to:

1. display spots on a black background image if an `ImageStack` is not provided
2. know about and display cells boundaries from segmentation masks or polygons (pending decision on #838)

If these two features were added,

[2019-01-11 23:38] joshmoore commented on #808
Yup.

[2019-01-11 23:38] #808 closed

[2019-01-13 18:50] joshmoore opened #957 "fastjsonschema (if necessary)"
see https://www.peterbe.com/plog/jsonschema-validate-10x-faster-in-python

A new library is potentially 100x faster.

[2019-01-14 14:45] #845 closed

[2019-01-14 22:10] #943 closed

[2019-01-16 04:55] ambrosejcarr commented on #820
From a conversation with @kevinyamauchi we discussed how users will often make corrections for nuances in their experimental set up (e.g. translate a color channel 3 pixels left to account for filter mis-alignment). The rationale for doing this wouldn't be clear in our logging regime.

@shanaxel42 @ttung would it be possible optional free text field of fixed length that can be saved per component

[2019-01-16 18:46] shanaxel42 commented on #820
Definitely possible! When would the user be adding this information though? When they run a pipeline step? As another optional parameter to the pipeline step?

[2019-01-17 19:33] ttung commented on #820
Also, as mentioned above, we still lack the logging of the version of starfish.

It may also be worth logging:
1. the git commit hash if it's a git checkout of starfish.
2. versions of core dependencies.
3. os type and os version.

[2019-01-17 19:42] shanaxel42 opened #966 "Add new info to provenance log"
-the git commit hash if it's a git checkout of starfish.
-versions of core dependencies.
-os type and os version.
-optional field for adding reasoning for parameter values

[2019-01-17 19:43] shanaxel42 commented on #820
sweet I create #966 for all these things. feel free to edit if I forgot anything

[2019-01-21 11:42] joshmoore commented on #419
A few notes from looking at this today:

 * I have a minio setup for docker-ized testing which we can add to the integration tests if there's interest. I've asked the same on the zarr side: https://github.com/zarr-developers/zarr/issues/385
 * I looked into used nested chunks rather than dotted chunks to no avail: https://github.com/zarr-developers/zarr/issues/395
 * Use of `group=` on `xarray.Dat

[2019-01-23 15:13] ambrosejcarr opened #967 "BaristaSeq, Allen data are saved as NPY with TIFF suffixes"
The following datasets are the most recent versions, to my knowledge, are named `.tif` but are `.npy`.

`s3://spacetx.starfish.data.public/browse/formatted/20181028/BaristaSeq/cropped_formatted/`
`s3://spacetx.starfish.data.public/browse/20190111/allen_mouse_panel_1/`

I would like for us to test this when we test starfish.data:
1. Test: fail if data and prefix don't match
2. Library: warn if data

[2019-01-23 17:10] ambrosejcarr commented on #967
@neuromusic This is blocking @zperova from ingesting the example BaristaSeq dataset.

[2019-01-23 17:12] neuromusic commented on #967
re: point 2, does starfish infer the file format from the extension?

[2019-01-23 18:47] ttung commented on #967
Only if the format is not specified in the manifest file.

[2019-01-24 11:19] zperova commented on #967
@ambrosejcarr  the files are named `.tiff` the primary and nissl images are original and `.tif` and open normally

[2019-01-24 16:45] #941 closed

[2019-01-25 17:19] ambrosejcarr opened #970 "Investigate different array frameworks in python"
At some point, we should establish which array/compute backings we want to support with starfish (dask, numpy, tensorflow, scipy.sparse).

Of those listed above, we've done the least investigation of tensorflow, which could become relevant as more image processing routines are implemented there.

[2019-01-29 00:09] rojinsafavi opened #971 "ModuleNotFoundError: No module named 'starfish.display'"
Hello,

I installed starfish with pip.
I am trying to follow the jupyter notebook for MERFISH, but some of the modules are missed, for example, display and Axes

ModuleNotFoundError: No module named 'starfish.display'

Should I use another version of the starfish?

[2019-01-29 00:35] rojinsafavi commented on #971
Thanks for your quick response!
I have created a python3.6 virtual env with conda. Then I pip installed as you mentioned. and then I opened the Jupiter notebook, but I am still getting the same error

[2019-01-29 00:52] ambrosejcarr commented on #971
Ok, we'll be happy to look into this. Could you please list the commands you used to install and run the notebook, so we can attempt to reproduce the error?

[2019-01-29 01:03] rojinsafavi commented on #971
when I install napari version it says that starfish 0.0.30 does not provide the extra 'napari'

Here are the details:

1. conda create -n env_starfish python=3.6
2. source activate env_starfish
3. pip install starfish[napari]

Collecting starfish[napari]
  starfish 0.0.30 does not provide the extra 'napari'
Collecting scikit-learn==0.19.2 (from starfish[napari])
  Using cached https://files.python

[2019-01-29 01:19] ambrosejcarr commented on #971
I'm glad you found a solution -- would you be willing to re-post that tracelog? What you tried did not seem at all like a crazy way to install `starfish`, so we'd like to make sure that users who try your first path in the future are able to install our package.

[2019-01-31 17:41] rojinsafavi commented on #971
I am very sorry but I did not save the terminal, I will try to reproduce the error again and post it here :-)

[2019-01-31 19:14] sethb3744 opened #973 "Is segmentation working?"
Hi,

I read on the starfish documentation that starfish is still in its prototype form, but I wanted to confirm if just one part of the pipeline is functioning or not. I am only interested in using the segment command. Is this in working order or is it still a work in progress?

Thanks,
Seth

[2019-01-31 19:20] ttung commented on #973
Segmentation has one algorithm implemented (watershed segmenter).  Each stage of the pipeline can have multiple algorithm implementations.

[2019-01-31 20:07] neuromusic commented on #973
@sethb3744 I'm curious... are you looking to do segmentation on image-based transcriptomics data? or some other imaging data?

[2019-01-31 22:09] sethb3744 commented on #973
@neuromusic Yes, it's for image-based transcriptomics data. My lab partner performed RNAscope, an in situ hybridization assay for detection of target RNA in intact cells. I'll attach examples of the TIF files produced below.
RFP: https://s3-us-west-1.amazonaws.com/shen-sbergenholtz/Enh1-3D-2.lif+-+Series001+-+C%3D3.tif
DAPI: https://s3-us-west-1.amazonaws.com/shen-sbergenholtz/Enh1-3D-2.lif+-+Seri

[2019-02-01 01:35] sethb3744 commented on #973
@ttung Sorry, that's what I meant. I am interested in using Watershed, but I was asking to see if segment was in working condition. Does that mean that segment/Watershed is fully functional? I just wanted to confirm this before I moved forward with using starfish, since I know it's still a work in progress.

[2019-02-01 02:04] ttung commented on #973
Yes it should be functional.

[2019-02-01 15:11] ambrosejcarr commented on #973
@sethb3744 It's prudent of you to check. :-) If it's helpful to see an analysis prior to digging in on your own data, you can find a worked example that uses watershed here:

[https://github.com/spacetx/starfish/blob/master/notebooks/ISS_Pipeline_-_Breast_-_1_FOV.ipynb](https://github.com/spacetx/starfish/blob/master/notebooks/ISS_Pipeline_-_Breast_-_1_FOV.ipynb)

[2019-02-01 19:07] sofroniewn opened #977 "Windows install error"
From Tim Wang -
1) I am having a hard time installing starfish on windows. If I just pip install it, it finds that some libraries (like xarray) are slightly different in version version and produces an error. If I try making a venv/virtualenv I end up with a pip-related error: "Error: Command '['C:\\Users\\JRCLUST\\starfish\\.venv\\Scripts\\python.exe', '-Im', 'ensurepip', '--upgrade', '--default-

[2019-02-02 23:31] neuromusic opened #978 "add napari installation instructions to docs"
see #971

[2019-02-02 23:31] #971 closed

[2019-02-03 17:00] sofroniewn commented on #977
Note also, Napari has been having some windows install problems that I don't think have been addressed yet, but are on our radar - see https://github.com/Napari/napari-gui/issues/75

[2019-02-04 18:42] #950 closed

[2019-02-05 01:12] sethb3744 commented on #973
Thanks all for your help! I got Watershed to work today with my own formatting Python script. @ambrosejcarr your link was very helpful, as was the formatting vignette (https://spacetx-starfish.readthedocs.io/en/latest/usage/iss/iss_vignette.html). Thanks again!

[2019-02-05 04:08] neuromusic commented on #704
... while acknowledging that virtual environments are not strictly required for starfish to work

[2019-02-05 07:56] rojinsafavi opened #982 "MERFISH"
Hello again :)

I used the  format_merfish_U2OS_data.py to reformat merfish images. Then I passed one of jsons to the following line:
`experiment=starfish.data.Experiment.from_json('/projects/sysbio/projects/czi/u2os_prepro/primary_images-fov_000.json')`

and I got the following error:
[code]

[2019-02-05 18:36] ttung commented on #982
Did you format your data using the same version of starfish that you are processing with?

[2019-02-05 19:56] rojinsafavi commented on #982
So I cloned the github, and ran:
` pip install -e .[napari]`

[2019-02-05 22:46] shanaxel42 opened #985 "FOV Refactor (aka Spiritual Bag of Images Refactor)"
Description of steps for the FOV refactor.

1.) In Experiment.from_json() when we create a FOV, FOV initialization creates set of coordinate groups
Refactor FOV object to store coordinate groups = dict of cords and the r/ch tiles associated with them
	-Delete Imagestack from FOV constructor
	-store coordinate groups for aux images
	-store as Dict{tilesetName: List[CropParams]}
	-Create method to d

[2019-02-05 23:01] joshmoore commented on #927
I've come back to this a few times and had no success. My assumption is that the complexity of the starfish leads to this being unmaintainably messy:

[code]

-->

[code]

Removing myself. I'm happy for this to be closed, unless @neuromusic wants to take it over.

[2019-02-06 00:14] rojinsafavi commented on #982
and this is the json example:
`{
    "default_tile_format": "TIFF",
    "default_tile_shape": [
        2048,
        2048
    ],
    "dimensions": [
        "zc",
        "r",
        "x",
        "xc",
        "yc",
        "y",
        "z",
        "c"
    ],
    "extras": {},
    "shape": {
        "c": 2,
        "r": 8,
        "z": 1
    },
    "tiles": [
        {
            "coordinates"

[2019-02-06 16:23] kevinyamauchi opened #989 "Docs for "Core Objects" are empty"
Currently the doc pages for the ["Core Objects"](https://spacetx-starfish.readthedocs.io/en/latest/api/core_objects/index.html) are empty (e.g., [ImageStack](https://spacetx-starfish.readthedocs.io/en/latest/api/core_objects/image_stack.html)). Perhaps it's a work in progress, but I wanted to raise it just in case.

![screen shot 2019-02-06 at 8 21 55 am](https://user-images.githubusercontent.com/

[2019-02-06 22:18] ttung commented on #982
Apologies, this problem is simpler than I thought.  You're using the experiment loader to load the primary_image.  Try:

experiment=starfish.data.Experiment.from_json('/projects/sysbio/projects/czi/u2os_prepro/experiment.json')

[2019-02-06 22:24] kevinyamauchi commented on #945
@ambrosejcarr and @neuromusic , I've made the pipeline components we discussed in the PRs above (#983, #987, #990). Would you mind taking a look and seeing if they capture the features we discussed? It would be helpful to make sure the necessary use cases are covered (especially with regards to the roadmap). In parallel, I will work on adding some more tests.

[2019-02-06 23:48] joshmoore commented on #967
Thanks for the rename, @ttung, but @zperova and I would appreciate having TIFF in the first test.

[2019-02-06 23:59] rojinsafavi commented on #982
here is the experiment.json

{
    "version": "5.0.0",
    "images": {
        "primary": "primary_images.json",
        "nuclei": "nuclei.json"
    },
    "extras": {},
    "codebook": "codebook.json"
}

and when I ran this:
`experiment=starfish.data.Experiment.from_json('/projects/sysbio/projects/czi/u2os_prepro/experiment.json')`

I got the following error:

`-----------------------------------

[2019-02-07 00:53] neuromusic commented on #967
won't that require soliciting new data from these two groups? or for us to do a batch conversion of the data?

[2019-02-07 00:58] neuromusic commented on #967
[code]

[2019-02-07 15:23] joshmoore commented on #967
@neuromusic : the latter but with the related updates to the primary images json for new file names and new checksums.

[2019-02-07 15:27] joshmoore commented on #989
[code]

from https://readthedocs.org/api/v2/build/8509706.txt

[2019-02-07 17:50] kevinyamauchi commented on #989
Good find, @joshmoore !

[2019-02-07 18:51] ttung commented on #977
I couldn't reproduce this error that you guys were seeing.  I got further before things broke down.

I installed python3.6, set up a virtualenv (`python -m venv .venv` followed by `.venv\scripts\activate.bat`, ran `pip install starfish`, and was able to launch the starfish command.  A bunch of tests did fail and fixing those will probably take time.  I'm not sure how you set up a virtualenv, but c

[2019-02-07 19:13] joshmoore commented on #875
Added myself after discussing with @ambrosejcarr how this should/could be taken into account in the future zarr format.

[2019-02-07 19:19] joshmoore commented on #977
Separately, @ttung, are you interested in trading some travis time for [Windows builds](https://blog.travis-ci.com/2018-10-11-windows-early-release)?

[2019-02-08 00:11] ambrosejcarr commented on #967
`s3://spacetx.starfish.data.public/browse/formatted/20190207/BaristaSeq/` contains corrected data.

[2019-02-08 00:11] #967 closed

[2019-02-11 23:17] rojinsafavi commented on #982
Any updates on this?

[2019-02-12 01:27] sethb3744 opened #998 "Is there a function that returns the outline of a segmented cell?"
For example, after using Segmentation.Watershed to segment a cell, is there some function that takes the resulting np.ndarray as an input and returns another np.ndarray with the outlines of all segmented cells. This doesn't have to be the exact method; anything similar will do.

I have tried looking around already for something similar, but I haven't been able to find it. If that function doesn't

[2019-02-12 10:34] joshmoore opened #999 "Stale travis status requires settings change"
see: https://github.com/travis-ci/travis-ci/issues/10204
see: https://travis-ci.community/t/known-issue-travis-ci-reports-expected-waiting-for-status-to-be-reported-on-the-github-status-api-but-the-status-never-arrives/1154

1. Go to the repository’s Branch Settings page (https://github.com/OWNER/REPO/settings/branches).
2. In the "Branch Protection Settings" section, click "Edit" for a protected

[2019-02-12 14:52] ambrosejcarr commented on #908
Will address #708

[2019-02-12 14:53] ambrosejcarr commented on #670
@olatarkowska has your work with starfish shed any light on this question?

[2019-02-12 14:55] ambrosejcarr commented on #603
This was solved with the addition of the `ImageStack.to_multipage_tiff()` function.

[2019-02-12 14:55] #603 closed

[2019-02-12 18:05] olatarkowska commented on #670
@ambrosejcarr, that’s scheduled for me for next week. I will try to come back to you as soon as I have something

[2019-02-12 18:07] ambrosejcarr commented on #670
@olatarkowska No hurry, just wanted to check in.

[2019-02-12 22:26] ttung commented on #999
Did this change recently?  I fixed it for travis-ci.org but this appears to be something different.

[2019-02-13 06:40] joshmoore commented on #999
I don't know, but my PRs are all now green :+1:

[2019-02-13 06:40] #999 closed

[2019-02-13 09:31] ttung opened #1003 "dask"
# Derisking

- [x] dask as a potential replacement for distributed workflow runner
- can dask pass data as a handle?
  - A: if the source data is a handle (e.g., `from_zarr`), the handle and offsets will be passed to worker processes.
- can we force dask to serialize data (particularly results) in an alternate format, rather than return via HTTP?
  - A: yes.
  -

# Warts
- `export OBJC_DISABLE_INI

[2019-02-13 16:20] ambrosejcarr opened #1005 "Unifying Spot Finding"
# SpotFinding in starfish

This issue pulls together a series of investigations into how to support spot-finding and decoding approaches used by SpaceTx labs. I've chronicled some proposed changes and open questions. It is a work in progress that would greatly benefit from user and developer feedback.

science cc @kevinyamauchi @berl @sofroniewn @gapartel
tech cc @ttung @shanaxel42 @kne42

Address

[2019-02-13 19:09] ambrosejcarr commented on #998
Hey, yes -- that function does exist in starfish. Given an `IntensityTable` containing called spots and the output of `Segmentation.watershed` it will assign each spot in the `IntensityTable` to a cell:

[https://github.com/spacetx/starfish/blob/master/starfish/spots/_target_assignment/label.py](https://github.com/spacetx/starfish/blob/master/starfish/spots/_target_assignment/label.py
)

It's acce

[2019-02-13 19:40] joshmoore commented on #989
With gh-1002 and the various changes to master (like gh-997), this has now changed to:

[code]

[2019-02-13 22:09] ttung commented on #982
Sorry for the delay.  https://github.com/spacetx/slicedimage/pull/79 is the fix for this.  I should have released this earlier.  As soon as we resolve some build issues on starfish, we'll push this.

[2019-02-13 23:53] berl commented on #982
just ran into this too, but I don't get the error if there's no output- I can run some processing on the experiment, but most other methods on the experiment instance return the error @rojinsafavi referenced above.
looking forward to the update!

[2019-02-14 00:20] sethb3744 commented on #998
Thank you so much! I used Label successfully, and I am currently trying to visualize the resulting  IntensityTable using MERmaid, but I ran into an issue where the object in the picture below entitled "this.props.color" seems to be Null. I am unsure if this is an issue with the IntensityTable or MERmaid at the moment. I will start an issue on MERmaid to address this, but in case you have seen a si

[2019-02-14 00:27] ambrosejcarr commented on #998
We don't have any javascript in our project, so it is either an issue with MERmaid or the interaction between our output format and their input expectations. We haven't updated how we write the data in a while -- it's possible the expectations have changed. If you're able to solve this problem we'd love to know the solution so that we can fix it on our side.

[2019-02-14 00:46] sethb3744 commented on #998
I'll update you when I figure it out. Thanks for your help.

[2019-02-14 01:02] sethb3744 commented on #998
I have submitted an issue to their Github. In the meantime, are there any other ways to visualize data from an IntensityTable or ExpressionMatrix object?

[2019-02-14 01:43] sethb3744 commented on #998
The issue isn't fixed yet, but I learned from the MERmaid developer that when cloning MERmaid, you have to clone a particular branch made specifically for starfish. You can add the following line to your documentation to tell people to clone the corrrect branch:
git clone -b starfish --single-branch https://github.com/JEFworks/MERmaid.git

[2019-02-14 01:46] ambrosejcarr commented on #998
Ok, thanks! I'm linking to that issue. It sounds like we need to update some things to meet their input expectations.

https://github.com/JEFworks/MERmaid/issues/8

[2019-02-14 07:46] #982 closed

[2019-02-14 07:47] ttung commented on #982
@rojinsafavi @berl This should work (better) now.  Please let me know if you have issues after updating.

[2019-02-14 18:20] sethb3744 commented on #998
Ambrose, you might have already seen the answer that JEFworks gave on the other thread. The only thing that needs to be fixed is the header. The header column used to be x,y,target,target, but it needs to be changed to x,y,gene1,gene2. Thankfully it's a simple fix.

[2019-02-14 18:29] ambrosejcarr commented on #998
Would you be interested in contributing the fix to starfish, or would you prefer that I make it?

[2019-02-14 19:06] sethb3744 commented on #998
Yeah, I added the line below to line 223 of intensity_table.py:
mermaid_data.columns = ['x', 'y', 'gene1', 'gene2']

It's been a long time since I've done anything with git other than just cloning. I could look into how to commit and push later today to update the current code.

[2019-02-14 22:33] rojinsafavi opened #1015 "The experiment codebook has has no value for "extras""
Hello again!

[code]

and :
[code]

I reinstalled starfish by downloading the repo and using pip install -e .[napari] command.

I downloaded merfish data from the Amazon s3 bucket, and reformated the data using format_merfish_U2OS_data.py

Thanks :-)

[2019-02-14 22:56] ambrosejcarr opened #1016 "Provide fast access to SpaceTx format metadata (e.g. Coordinates) via the API"
Currently, one is required to load the data to access the metadata. For example, the below call to extract coordinates requires first loading primary images, which in this case is a 45s operation.

[code]

We should expose a rapid way to access the metadata from SpaceTx-format without requiring users to go through heavyweight compute operations.

[2019-02-14 22:57] ambrosejcarr commented on #1016
May be fixed as a side effect of #1003

[2019-02-14 23:06] sethb3744 commented on #998
I have added some extra code, but I'm not sure you would want me to implement it. Different people may want to use MERmaid differently.
1. All dots respects, without any regard for whether they are in cells or not. Only requires any detection function.
2. Only dots in cells. Requires detection, segmentation, and labeling, with the input being the output from labeling.
For the first way, the code w

[2019-02-15 01:04] neuromusic opened #1017 "tutorial 0: Is this for me? (what assays does this support?)"

[2019-02-15 01:04] neuromusic opened #1018 "tutorial 1: Getting data into SpaceTx (needs to be aligned and corrected)"

[2019-02-15 01:04] neuromusic opened #1019 "Tutorial 2: Filtering (how to select filters and filter parameters. w/ napari?)"

[2019-02-15 01:05] neuromusic opened #1020 "Tutorial 3: Spot-finding (how to select spot-finding parameters. w/ napari?)"

[2019-02-15 01:05] neuromusic opened #1021 "Tutorial 4: Decoding (how to select decoding parameters)"

[2019-02-15 01:05] neuromusic opened #1022 "Tutorial 5: Segmenting"

[2019-02-15 01:05] neuromusic opened #1023 "Tutorial 6: Creating a pipeline recipe"

[2019-02-15 01:05] neuromusic opened #1024 "Tutorial 7: Running a pipeline on an experiment"

[2019-02-15 01:06] neuromusic opened #1025 "Tutorial 8: Using starfish outputs in Python and R"

[2019-02-15 01:46] sethb3744 commented on #998
I've tried out the above code and it works, but unfortunately it doesn't work very well for my project. Our segmented nuclei don't have that many dots, and because MERmaid visualizes cells by connecting the dots within cells, the visualization isn't a good representation of what the nuclei actually look like (screenshot below). It would work better for projects with much more spots than mine, like

[2019-02-15 07:42] #989 closed

[2019-02-15 07:49] joshmoore commented on #989
Heh. GitHub doesn't know how to parse "plausibly fixes" and closed, but https://readthedocs.org/projects/spacetx-starfish/builds/8584645/ was indeed successfull! Cheers @ttung

[2019-02-15 14:19] ambrosejcarr opened #1029 "Should codebook be a JSON object or a netCDF/Zarr file?"
See https://github.com/spacetx/starfish/pull/892,

Recording a conversation between @ambrosejcarr (quotes) and @joshmoore (unquoted)

You're _less_ comfortable with the support for codebook compared to say the intensity table because the codebook is more core, e.g. an input rather than an output? Might need to think that through... but I imagine if we're looking at _any_ use of netcdf then the cro

[2019-02-15 14:49] ambrosejcarr commented on #1016
Example use case for needing coordinates before image data:

[2019-02-15 16:17] ambrosejcarr commented on #932
I have a situation where there are two packages that I am either actively contributing to (`skimage`) or contributing feature requests that are getting developed rapidly (`napari`). I need features faster than they make releases, so I need a solution that allows me to install these packages from either (1) a pinned master commit or (2) current master.

I am willing to take on the burden of *immedi

[2019-02-15 17:32] neuromusic commented on #932
I think it's a bad idea to make releases that have dependencies on pre-release code.

Q for @ttung @shanaxel42 @kne42: Are we making the assumption that anything in master *could* be released?

If so & if we agree on my first statement, I'd say that your changes need to wait for a skimage release or live on a development fork.

[2019-02-15 19:18] sethb3744 commented on #998
Update: The IntensityTable still doesn't display using this method, but I at least got the background_image to show up. In the example, background_image was defined as background_image=np.zeros_like(nuclei_mp_numpy) in one example and background_image=nuclei_mp_numpy in a different example. The first one only displays a black square, while the second one successfully displays the nuclei image. It

[2019-02-15 19:42] ttung commented on #938
I strongly advise we decide what we want to do here ASAP before more people start writing code against Starfish. :)

[2019-02-15 19:43] ambrosejcarr commented on #998
Thank you for the detailed reports. I can look into the issues you highlighted here early next week. however, it sounds like your use cases might benefit from using [napari](https://github.com/Napari/napari-gui) instead of Mermaid or our own internal tools.

if you install using the optional dependency:
[code]

You will be able to visualize the image and the spots using the `napari` gui. Of the vi

[2019-02-15 19:59] kne42 commented on #932
Things on master are supposed to not break. However, they are not guaranteed to be stable either.

If you need specific features from `scikit-image`, I would recommend manually porting the code from them into a `compat.py` file like so:
[code]

`napari-gui` is a bit more tricky since our code is object-oriented and so, features cannot be similarly isolated. With a normal project, installing from s

[2019-02-15 20:17] ambrosejcarr commented on #932
Ok, monkey patching for skimage it is. Thanks.

I guess I'll just press for releases on napari. :-)

[2019-02-15 20:36] ttung commented on #932
I personally don't see any issues with having a dependency on pre-release code since starfish is not 1.0.

[2019-02-15 20:54] kne42 commented on #932
That's true – it's not necessary to follow best practice on pre-alpha projects, especially if you don't have many users. Ultimately it's up to your discretion. However, I will warn you that installing from source may result in certain problems/slower installation since the user will be building the wheels from scratch. For example, `scikit-image` requires `cython` to be installed prior to its inst

[2019-02-15 20:56] ttung commented on #932
Yup, that was my [first question](https://spacetx.slack.com/archives/CAR91U354/p1550207232183100) :)

[2019-02-15 20:57] ttung commented on #932
So yeah, monkey patch it is. :)

[2019-02-15 21:23] berl commented on #1029
please json! so the input data format is human readable and we don't have to add dependencies for someone to write a compatible dataset to disk.

[2019-02-15 21:46] berl commented on #806
@shanaxel42  here's the buried issue from a few months ago.

So I think the tile physical coordinates are still missing from the IntensityTable. These could be added as an attribute like the provenance log so we can (eventually) store a list of transformed tile corners following registration. Alternatively, if that information can be rapidly accessed from the imagestack without loading image data,

[2019-02-15 23:16] ambrosejcarr commented on #938
Based on Josh's walk-back, I still advocate for the strategy in my original post. I think it should be done immediately after @shanaxel42 lands her bag of images refactor.

The only disadvantage I see is that the names will be longer, and shorted imports would be confusing, as they would collide.

[2019-02-16 01:10] sethb3744 commented on #998
Great, then I will hold off on save_mermaid until you get the chance to take a look.

That visualization worked for me, thanks! The other one also works, which is good, because both options have pros to them, so I may end up using both. Thanks again.

One more question has come up on my side:
Each cell has a cell ID, and I know the number of spots in each cell, but I can't tell which cell in the f

[2019-02-16 03:41] ambrosejcarr commented on #998
This is a great point. I don't think we currently have this capability, but we are going to revisit segmentation and regions of interest in the next month and will be sure to consider this use case.

[2019-02-18 07:47] joshmoore commented on #1029
Fair point. I was definitely only considering the read use case. Can you give your opinion on the json output format for netcdf (`c.to_json()`):
[code]

[2019-02-18 15:36] ambrosejcarr commented on #875
@berl could you provide me a member list for SpaceTx working group 5? I'd like to ask them some questions about their methods to get a better sense of the requirements they will have for a segmentation format. I don't feel I have enough intuition to make a top-down decision on the format.

[2019-02-18 17:32] berl commented on #875
@ambrosejcarr it's in progress... I'll be meeting with Jeremy Miller on Wednesday and can report to the sync call on Thursday. I agree with @sofroniewn that probabilistic assignment of spots to cells and overlapping cells can be a pretty big wrinkle- that may be a place to separate a v1.0 from v2.0, depending on asks from WG5.
Just FYI regarding output formats, I still use GeoJSON geometry collect

[2019-02-19 18:04] njmei commented on #921
I'm in overall agreement that having functions in `__init__.py` should be avoided. I think that the `__init__.py` *should* have the role of a public facing API (see: https://blog.awhetter.co.uk/posts/9).

Since this thread is talking about package organization, maybe there should be some consideration of switching to a `/src/` directory organization. Here are some articles that describe the ration

[2019-02-20 00:44] kevinyamauchi opened #1033 "Codebook docstrings need to be updated"
The docstrings in `codebook.py` need to be updated. I didn't make an exhaustive search, but a few things I noticed:
* the round dimensions are still listed as "h" instead of "r"
* the input arguments are wrong in the class docstring example (should be `n_channel` instead of `n_ch`)

[2019-02-20 06:22] #909 closed

[2019-02-20 17:44] ambrosejcarr commented on #1005
This may also address some open concerns in #797 that are related to passing state around in `SpotFinder` objects.

[2019-02-20 18:35] ambrosejcarr commented on #761
Hey @joshmoore we've received some feedback that it has been hard for external developers to come back to starfish after a few weeks have elapsed and figure out what's happened. We're thinking about initiating to a release cycle (maybe bi-weekly?) to help mitigate this.

Would you be interested in creating this make target? If you build it, we'll commit to using it every <TBD> weeks, and having cl

[2019-02-20 19:52] sethb3744 commented on #998
Great, I'm glad I could find you guys another use case. In the meantime, I wrote this code for the visualization method that uses matplotlib.plot (this code was adapted from notebooks/ISS_Pipeline_-_Breast_-_1_FOV.ipynb). It's not perfect but it works for what I want to do:
[code]
The resulting image is:
![screen shot 2019-02-20 at 11 35 55 am](https://user-images.githubusercontent.com/10657968/53

[2019-02-20 22:56] kevinyamauchi opened #1034 "Pass image tiles as xarrays to function in ImageStack.apply()"
As @ambrosejcarr and I discussed in #987 , I think it would be helpful if the image tiles passed to the function being applied to the ImageStack in ImageStack.apply() were passes as an xarray DataArray instead of numpy ndarray. There are many cases where we can use the labeled axes to guarantee the operation is performed correctly (e.g., applying corrections). I don't think we loose any functional

[2019-02-20 23:02] ambrosejcarr commented on #627
@berl 's pipeline (commit reference: 7998996) requires the following compute and memory resources to run one field of view:

cc @ttung @shanaxel42

[2019-02-21 04:28] #840 closed

[2019-02-21 04:28] #891 closed

[2019-02-21 16:19] xyanqian opened #1037 "Starfish validate cannot find local files on Windows system"
This happens when running from Windows command window. The problem seems to lie in resolve_path_or_url

[2019-02-21 23:26] neuromusic opened #1039 "data delivery: baristaSEQ, mouse"
- [x] data uploaded
- [ ] data validates w/ starfish
- [ ] HCA spreadsheet completed
- [ ] HCA spreadsheet validates
- [x] license in place
- [ ] data moved to public

[2019-02-21 23:28] neuromusic opened #1040 "data delivery: baristaSEQ, human"
- [x] data uploaded
- [ ] data validates w/ starfish
- [ ] HCA spreadsheet completed
- [ ] HCA spreadsheet validates
- [ ] license in place
- [ ] data moved to public

[2019-02-22 14:26] joshmoore commented on #761
Investigating. I'll post some thoughts ASAP.

[2019-02-22 16:30] joshmoore opened #1042 "Test files not cleaned up"
cc @shanaxel42

In gh-557, `keep_data` was set to true (see https://github.com/spacetx/starfish/commit/14061c03#diff-034591af01d880880726d9d0215c99ecR35) so that files could be evaluated after `stages` returns. However, if the stage fails, then `tempdir` is not returned and therefore the files are not cleaned up.

[2019-02-22 18:13] sethb3744 commented on #998
In case you would like to see how I optimized the function I wrote in the last comment, it's pasted below. The assertions I added prevent the function from "losing" cell IDs, which would result in spot numbers not merging.
[code]

[2019-02-26 09:36] ttung commented on #1015
I'm not sure where it is expected that the codebook have an extras field.  Can you explain what error you are seeing?

[2019-02-27 19:54] berl commented on #664
bumping this because I'm not sure if it's still on the radar. @njmei is working on our analysis pipeline using starfish and we will have limited amount of buffer storage to do processing before we upload to our internal data storage and external archiving.
cc: @ttung @ambrosejcarr @neuromusic

[2019-02-28 18:18] kevinyamauchi commented on #664
Thanks @berl for re-raising the issue. This would also be useful for us at the Biohub!

[2019-02-28 18:27] ttung commented on #664
Proposed solution:

`experiment.builder.providers.FetchedTile` should add a second method for providing a path to the original file.
when that method is provided, we should use a custom `tile_opener` in our calls to `Writer.write_to_path` that opens a fake file that accepts write calls but does nothing with them.  everything else will probably just work.

[2019-02-28 22:44] njmei commented on #664
@ttung Is this along the lines of what you were thinking? Wanted to double check with you before going further...

https://github.com/njmei/starfish/commit/59d1937b52e2185679cb88f29d83ef62f520e03c

mypy also doesn't seem to like that `ReadOnlyTile` is not a `BinaryIO` type...

[2019-03-01 01:40] sethb3744 commented on #998
Since my last comment, I searched on methods to fix over-segmentation. The issue was slightly helped by improving prefiltering with a Guassian blur, but I am currently looking into a method I found on [this website](https://www.mathworks.com/company/newsletters/articles/the-watershed-transform-strategies-for-image-segmentation.html). It says that by removing local minima that don't meet a certain

[2019-03-01 18:25] ambrosejcarr opened #1051 "A model for registration across assays"
# Image Alignment
Image alignment in starfish is driven by the need to carry out two tasks:
1. Identify the cell of origin for each spot
2. Identify mRNA molecules whose identity is encoded across a set of images by matching the same spot across the images.

These problems are trivial in cases where there is no movement in the tissue or microscope stage. However, when the images shift between capt

[2019-03-01 22:32] ambrosejcarr commented on #875
@kne42 This issue contains my research thus far on segmentation. Let's chat next week about this!

[2019-03-01 22:38] ambrosejcarr commented on #998
@sethb3744 This is awesome! We'll see if I we can incorporate your solution and improve our watershed. Thank you very much for adding your research to the issue!

cc @kne42

[2019-03-01 23:05] sethb3744 commented on #998
I'm glad I could help! You should also know that self.minima_lim was an int attribute I added to the Watershed class and that it is generally somewhere between 0.01-0.00001. I have it set at 0.006 right now, but I still need to test it out further to determine if there is an optimal value for it or if it depends on the case.

I've made quite a few changes in the code and Jupyter-notebook pipeline

[2019-03-01 23:07] ambrosejcarr commented on #998
That would be awesome. I'd be happy to hop on a video call to walk you through submitting a PR against starfish and hear a little bit about the project you're working on, if either would be of interest to you.

[2019-03-01 23:44] sethb3744 commented on #998
I can video call with you early next week. Is there a time that works best with you? I am free Monday and Wednesday 10 am - 6 pm PST and Tuesday 10-11 am, 3-5 pm.

[2019-03-02 00:22] shanaxel42 opened #1054 "Reformat osmFISH data coordinates."
Discovered in a phone call with simone that the physical coordinates sent are per FOV not per tile as they are currently represented. This needs to be changed.

[2019-03-02 02:53] ambrosejcarr commented on #998
Let's do Monday. Shoot me at email at `mail at ambrosejcarr dot com` and I'll send you a calendar invite.

[2019-03-02 15:36] ambrosejcarr opened #1057 "Codebook needs a null expected value"
Currently, we represent smFISH codebooks as follows:

[code]

And we decode by measuring distance from the expected codes. However, this is not strictly correct -- smFISH only measures each gene in each round/channel _separately_, and as @berl has pointed out many times (sorry), there may be spots that overlap from other genes, and these cases should be _discounted_ by the algorithms, rather than

[2019-03-02 19:00] joshmoore commented on #761
Ok. I have something that's mostly working based on `pbr`:

 * https://docs.openstack.org/pbr/latest/user/packagers.html
 * http://www.dougalmatthews.com/2016/Sep/01/automate-publishing-to-pypi-with-pbr-and-travis/

If there are any preliminary objections to that, now would be a good time to express them. The general release process would be:

[code]

If there are any issues, the commands need to

[2019-03-03 10:34] joshmoore commented on #761
There are some who have moved away from pbr: `https://github.com/pyscaffold/pyscaffold/issues/116`

other options for the version calculation:

 * manual bump of version with two commits in a row
 * manual bump of version on a detached head
 * [bumpversion](https://developer.atlassian.com/blog/2016/02/bumpversion-is-automation-for-semantic-versioning/)
 * [python-semantic-versioning](https://pytho

[2019-03-03 11:26] joshmoore opened #1058 "Use appdirs for better config and cache file locations"
see: https://pypi.org/project/appdirs/1.2.0/

Especially for "doing the right thing" on Windows, the hard-coding of `~/.starfish` should possibly be changed to make use of appdirs. cF:

[code]

[2019-03-03 14:57] joshmoore commented on #932
In working on gh-1059, I ran into a couple of alternatives for version pinning. I've kept any of that out of gh-1059 (despite the bullet point "run extended check_requirements" in gh-761) but wanted to list them in case solving both together would point to changes in gh-1059:

 * https://github.com/jazzband/pip-tools
 * https://github.com/sdispater/poetry (can also replace setuptools)
 * https://g

[2019-03-03 17:10] ambrosejcarr commented on #908
I think this may need to be expanded to:

 "formalize the ability for _Pipeline Components_ to return extra data".

The pixel decoder will need to emit a second imagestack that, instead of labels, contains the confidence in those labels.

[2019-03-04 14:35] ambrosejcarr commented on #761
Looks like you provided your own objection 😆

No problems here, very interested to see what you come up with!

[2019-03-04 17:39] berl commented on #1057
@ambrosejcarr  the current format allows for sparse representation of the codebook on disk, with unspecified r,c combinations assumed to be zero. Could we have an import mode or tag that would accomplish your suggestion while retaining the ability to store sparse codebooks?

[2019-03-04 19:38] #857 closed

[2019-03-04 19:38] neuromusic commented on #857
PR #895

[2019-03-04 20:26] ambrosejcarr commented on #945
ElementWiseMult and LinearUnmixing got merged. 🎆

I'm going to close this issue and, we can continue with registration discussions in #1051 @kevinyamauchi let me know if you think there is anything outstanding that's not covered in #1051

[2019-03-04 20:26] #945 closed

[2019-03-04 20:26] neuromusic commented on #1033
@ttung says "this is easy, I'll do it"

stay tuned...

[2019-03-04 20:27] ambrosejcarr commented on #1034
Closed by #1035

[2019-03-04 20:27] #1034 closed

[2019-03-05 00:45] ttung commented on #1057
Doesn't the IntensityTable for smFISH have a bunch of `NaN`s for the rounds/channels that shouldn't be measured?  If that's factored into distance measurement, wouldn't that be sufficient?

[2019-03-05 01:29] #966 closed

[2019-03-05 10:03] joshmoore opened #1063 "validation method that returns errors"
see:
 * https://github.com/HumanCellAtlas/fastq_utils/blob/master/wrapper/common/validation_report.py
 * https://github.com/spacetx/upload-validator/blob/master/myvalidator.py

Based on the fastq validator, a method is needed that returns the validation errors rather than just printing them using `warnings`.

(pre-requisite for part of gh-878)

[2019-03-05 11:25] joshmoore commented on #761
Heh. It did "just work" (TM) for starfish, so I wouldn't be opposed to rolling back to it and dropping versioneer. Probably need a discussion around all of this.

[2019-03-05 18:35] ttung commented on #56
Closing.

[2019-03-05 18:35] #56 closed

[2019-03-05 18:35] #57 closed

[2019-03-05 18:36] #62 closed

[2019-03-05 18:37] #180 closed

[2019-03-05 18:39] #243 closed

[2019-03-05 18:39] #301 closed

[2019-03-05 18:45] #369 closed

[2019-03-05 18:48] #401 closed

[2019-03-05 18:52] #498 closed

[2019-03-05 18:54] #525 closed

[2019-03-05 18:57] #526 closed

[2019-03-05 19:00] #535 closed

[2019-03-05 19:01] #546 closed

[2019-03-05 19:02] neuromusic commented on #535
after conversation w/ @kne42, sphinx-gallery #934 is probably a better solution - @ambrosejcarr

[2019-03-05 19:04] #587 closed

[2019-03-05 19:07] #613 closed

[2019-03-05 19:09] #439 closed

[2019-03-05 19:12] ttung commented on #627
We're not going to fix this issue (for now). It's incumbent on the user to have a machine with sufficient memory to execute the FOV.  We will provide tooling to chop up FOVs into smaller units.

[2019-03-05 19:12] #627 closed

[2019-03-05 19:13] shanaxel42 commented on #670
work in #998 suggests yes.

[2019-03-05 19:13] #670 closed

[2019-03-05 19:15] #677 closed

[2019-03-05 19:16] #681 closed

[2019-03-05 19:18] kne42 commented on #535
To clarify, `jupytext` is an awesome tool for development reasons (primarily because it makes it easy to `git` diff and IDEs can parse it more easily when refactoring) but `sphinx-gallery` is much better if you just want something for documentation purposes. If I were to use `jupytext` in this project it would be to replace all the `.ipynb`s with `.py`s.

[2019-03-05 19:18] #714 closed

[2019-03-05 19:18] #715 closed

[2019-03-05 19:19] #723 closed

[2019-03-05 19:21] ambrosejcarr commented on #704
@olatarkowska this would be a great place to list any problems you had while installing starfish through conda.

[2019-03-05 19:21] #751 closed

[2019-03-05 19:22] #770 closed

[2019-03-05 19:23] #783 closed

[2019-03-05 19:24] #820 closed

[2019-03-05 19:30] #862 closed

[2019-03-05 19:31] #865 closed

[2019-03-05 19:31] #866 closed

[2019-03-05 19:32] #871 closed

[2019-03-05 19:32] #872 closed

[2019-03-05 19:33] #873 closed

[2019-03-05 19:35] shanaxel42 commented on #887
reopen if you see this again

[2019-03-05 19:35] #887 closed

[2019-03-05 19:35] #897 closed

[2019-03-05 19:35] sethb3744 commented on #998
Ambrose, when we talked yesterday, I mentioned that I wanted to perform Segmentation with primary images. You told me to format the primary images to include multiple channels. However, I also wanted to assign nuclei from the DAPI image (which only has one channel) to one channel of the primary images (which has multiple channels). I want to do this because the primary images will have fluorescent

[2019-03-05 20:41] ttung commented on #916
@ambrosejcarr can you verify that this is still an issue?

[2019-03-05 20:44] #977 closed

[2019-03-05 20:45] ttung commented on #1015
Can you clarify this and assign it back to me?  Thanks!

[2019-03-05 20:46] neuromusic commented on #927
low priority since existing CI seems to be meeting our needs. closing.

[2019-03-05 20:46] #927 closed

[2019-03-05 20:47] ttung commented on #1016
Since #1003 isn't going to be resolved anytime soon, we probably need a better solution this.  I think we have to lazy-load the array data...  The path to doing so seems pretty straightforward.

[2019-03-05 21:06] #1033 closed

[2019-03-05 22:06] ttung commented on #528
For this to be complete and unambiguous, I think we need to specify (possibly [here](https://docs.google.com/document/d/12V-BQF-wh1GDBXwUH2hQrPhw6n0oQqENPK-YHGv59w4/)) that the tile data should be read into memory row-major.  Strictly speaking, we are agnostic about the organization of the data on disk, but when we get it, it has to be row-major.

We can also change tile_shape to be a dict so it's

[2019-03-05 22:07] ttung commented on #528
Feel free to assign it back to me with your opinions. :)

[2019-03-05 22:11] ttung commented on #535
Oh, I remember this more clearly now.  This was supposed to replace `nbencdec`.  I think if we junk all the notebooks (I think that's the goal), we won't need either.

[2019-03-05 23:02] ttung commented on #1005
I don't fully understand the "max genes" approach for gene-space decoding filter.

I suspect we only need to store the N nearest neighbors for each pixel for gene-space decoding.  The remaining genes are probably inconsequential.

[2019-03-05 23:51] ttung commented on #1051
It's not clear our object model works well for stitching.  We would need to pull pixels from one ImageStack to another.

Is there a reason we need to support the application of transforms to both images and spots?

[2019-03-06 00:39] ambrosejcarr opened #1065 "Look into CUDA based deconvolution"
see https://github.com/tlambert03/pycudadecon (for cases where users have NVIDIA hardware.)

[2019-03-06 03:59] ambrosejcarr commented on #528
I was not clear originally, the problem is that the spec and the code disagree on the ordering. Code is (y, x), which we agree is correct. I believe you decided to move toward the dictionary option.

[2019-03-06 04:01] ambrosejcarr commented on #1005
This WIP PR goes into the two options in more detail: https://github.com/spacetx/starfish/pull/1060

[2019-03-06 04:25] ambrosejcarr commented on #1051
I think stitching would always require loading in two imagestacks at a time.

Am I interpreting properly that you'd prefer to only support transforms to spots?

[2019-03-06 19:46] ttung commented on #1051
I don't have a preference.  I am just stating that the two seem rather redundant.  Transformations to pixels is more expensive to do, but honestly, I'm skeptical of the claim that it's a whole lot more expensive since you have to read the data to begin with.

I also think it might be worthwhile coming up with a standard model or file format for transformations.

Finally, would the transforms alway

[2019-03-06 21:05] ttung commented on #908
If pixel decoding moves to image space (i.e., a filter), we should rethink what exactly the remaining spot detection algorithms truly need.

[2019-03-07 00:11] ttung commented on #761
I just read this (I suck).  I understand #1059 much better now. :)

[2019-03-07 05:19] ambrosejcarr commented on #220
@shanaxel42 how hard would it be for max_proj to be recorded in the log? I think that's all that is left to close out this issue.

[2019-03-07 11:22] joshmoore commented on #761
🤣 (I looked for a place to put this content since it will be useful but didn't find anything definitive. Preferences?

 * README.md
 * RELEASE.md
 * docs/source/usage/...
 * docs/source/maintainers/...
 * docs/source/?
 * Makefile
 * ...
)

[2019-03-07 19:06] sethb3744 opened #1070 "Error in Spot detection"
I am running SpotFinder.BlobDetector, but I got this ValueError that I can't fix. The dots image is filtered perfectly using Filter.GaussianHighPass and Filter.GaussianLowPass, but then runs into this issue, so the issue seems to be isolated to BlobDetector. For reference, "low_passed" in the code is the filtered dots ImageStack. Please let me know any other details you might need to help me figur

[2019-03-07 19:17] sethb3744 commented on #1070
I figured it out. The problem was that there were 0 dots found. When I decreased the threshold, the error stopped coming up and it functioned completely properly.

[2019-03-07 19:17] #1070 closed

[2019-03-07 19:19] ambrosejcarr opened #1071 "Zero-spot failures still occuring in BlobDetector"
BlobDetector is still producing odd failure messages. See:

I figured it out. The problem was that there were 0 dots found. When I decreased the threshold, the error stopped coming up and it functioned completely properly.

_Originally posted by @sethb3744 in https://github.com/spacetx/starfish/issues/1070#issuecomment-470657449_

[2019-03-07 19:29] ttung commented on #875
@ambrosejcarr do you have a notion of how many pixels each ROI will have?  Order of magnitude should be sufficient.

[2019-03-07 19:33] ambrosejcarr commented on #875
For our current experiments, the lower bound should be approximately (100 x 100), and the upper bound (1000 x 1000).

@berl and @kevinyamauchi would have more experience to bring to bear on this question.

[2019-03-07 21:54] ttung commented on #875
I'm guessing that a flat representation of pixel coordinates will not be efficient.

I would start with just a set of images to represent the masks.

Crazy idea (probably worth only a few minutes of googling): find a union of ellipsoids that approximates the boundary.  This is almost certainly a more compact representation if you have a nonzero error tolerance.

[2019-03-08 00:53] berl commented on #875
@sofroniewn has also advocated for mask images.

I don't think the flat representation would be all pixels, it would be boundary pixels (could be pretty sparse if you're containing a lot of pixels), or in my case, boundary spot locations (even sparser). The main qualitative deficiency of a mask image is that you can't do overlapping regions without a lot of additional data and weirdness.   If user

[2019-03-08 01:47] ttung commented on #875
Ah, boundary would definitely be a lot more sparse.  I'm wondering if there are any geometries that would not be expressible with just boundaries, but even things like donuts could probably work okay.

[2019-03-09 14:48] ambrosejcarr commented on #1003
This is amazing research, thanks @ttung

Some questions:
- Does this mean that there's potentially a path forward for xarray + dask + skimage?
- What does the ufunc requirement imply about how we would need to structure our algorithms? Does it limit the kinds of packages we can use?
- could you talk more about the limitations around reduce operations? I think reduction is going to be very importan

[2019-03-10 15:24] #861 closed

[2019-03-10 15:30] ambrosejcarr commented on #671
#1068 completed part one. Assigning to you @ttung for instructions on how to format data given our current expectations.

[2019-03-10 16:27] ambrosejcarr commented on #1057
I would like to support @berl 's suggestion because relying assumptions from the spot detectors and decoders implies specialization of those functions -- that some spot finders and decoders can't be used for certain experiments.

If we enable the codebook to _also_ contain explicit `np.nan` values (in memory) we should be able to use any spot detector and any decoder for any assay, and better iden

[2019-03-11 17:10] berl opened #1076 "SpaceTx output format for decoded spots"
The `IntensityTable` has great features as an internal `starfish` data structure and the corresponding `.netcdf` file is the natural representation of that on disk.  For users to work on downstream processing such as segmentation based on spots and spatial maps of decoded mRNA counts, we really only need a format that contains the following information for every mRNA spot after decoding:
x,y,z coo

[2019-03-11 17:12] berl commented on #1076
@ambrosejcarr ^^^

[2019-03-11 17:24] ttung commented on #1003
Sort of.  In the universe with xarray + dask + skimage, the workers will never have access to the xarray axes nor coordinates, short of a significant rewrite to dask.

It's relatively trivial.  You can just write methods that turn numpy functions into ufuncs.

Yes, the wrinkle I discovered is that the transform/apply method needs to be aware of how the dimensions get reduced.  The worker also need

[2019-03-11 17:35] mrocklin commented on #1003
Just checking in here briefly, I encourage you all to run questions by the Xarray community.  They're a friendly sort.

FWIW lots of people do reductions and groupby aggregations with Xarray in low memory pretty happily.  I'm not very familiar with your workload, but I would be surprised if it wasn't efficiently covered.

[2019-03-12 05:19] ttung commented on #1003
Thanks, @mrocklin.  I have some questions for you and the xarray community that I'll file as issues.

[2019-03-14 05:50] #528 closed

[2019-03-14 10:36] neuromusic opened #1081 "data delivery: ISS, mouse"
- [x] data uploaded
- [x] data validates w/ starfish
- [x] license in place
- [x] data moved to public

[2019-03-14 10:37] neuromusic opened #1082 "data delivery: ISS, human"
- [x] data uploaded
- [x] data validates w/ starfish
- [x] license in place
- [x] data moved to public

[2019-03-14 18:03] ttung commented on #310
# Proposal

A significantly simplified snippet of python code will represent the pipeline recipe.  There is one method, `compute` that will represent each pipeline stage.  First argument is the pipeline component type, second argument is the algorithm.  Argument 3..N are arguments passed to the algorithm's `run` method.  Keyword arguments are for tuning parameters.

There are two magic variables:

[2019-03-14 18:07] ttung commented on #310
I've also thought about making the input and output files be able to start from an `experiment.json` file.  Something like:

`starfish filter WhiteTophat -i @experiment.json[fov_001][primary]`

Thoughts?

[2019-03-14 23:53] ambrosejcarr commented on #310
@ttung two questions:

How does starfish know what input is of what type, and what does that imply about how it serializes or deserializes objects?

What object types are valid?

[2019-03-15 01:15] ambrosejcarr commented on #1076
does the `IntensityTable.to_features_dataframe` method satisfy your requirements?

[2019-03-15 02:14] ttung commented on #310
Can I say magic? :)

Ok actually it’s inspecting the method signature to figure it out.

It supports ImageStack, IntensityTable, ExpressionMatrix, and Codebook

[2019-03-16 00:41] #761 closed

[2019-03-16 02:44] kevinyamauchi opened #1086 "Feature request: display() should be able to add images to an existing viewer"
I think it would be useful if `display()` had the option to add the image as a new layer to an existing Napari `viewer`. This is super useful for comparing the image before/after a processing step (e.g., filtering).

Thoughts, @kne42 and @ambrosejcarr ?

[2019-03-16 02:45] kevinyamauchi commented on #1086
I am happy to take a stab at this if you all agree that it's useful.

[2019-03-18 13:25] ambrosejcarr commented on #1086
Could you help me understand what advantage there is to having the images be on the same processing step vs just tabbing back and forth between the images? Are you using transparency somehow?

[2019-03-18 13:46] ambrosejcarr opened #1088 "Fix Target Assignment for CLI"
- Target Assignment CLI returns `NotImplementedError`
- Target Assignment `run()` contract requests regional, which is not consistent with `Label`, our only target assignment algorithm.
- Regional is listed as a dependency but is not used by `starfish`.

[2019-03-18 14:10] ambrosejcarr opened #1089 "SpaceTx Format `default_tile_shape` overrides `tile_shape`"
Starfish throws an error when attempting to load an image whose `default_tile_shape` does not match the `tile_shape` of all files. In my example dataset, each tile's `tile_shape` was correct, but the `default_tile_shape` was wrong.

If this behavior is intended, it is not mentioned in [the docs](https://spacetx-starfish.readthedocs.io/en/stable/sptx-format/index.html), and should throw an error in

[2019-03-18 14:20] ambrosejcarr opened #1090 "FOV keys must match across manifests"
`starfish validate` permits manifests with mismatched `primary` and `auxiliary` fov key names, which leads to weird results.

For example, if the `primary` key is `primary_fov_001` and the `nuclei` key is `nuclei_key_001`, `Experiment.from_json` will successfully complete, and the `nuclei` image will be loaded properly but attempts to load the `FieldOfView` will fail, stating that the `primary` im

[2019-03-18 14:29] ambrosejcarr opened #1091 "s3 download speed could be improved"
We use s3 to store almost all of our files, but use requests to download them through the https protocol. The `boto3` library could be used to enable multi-part download to speed up file loading when we provide it an s3 link.

It can take 40+ minutes to download via starfish what can often be downloaded in 2-3 minutes via `aws s3 sync`. As a result, for large datasets I find myself pre-downloading

[2019-03-18 15:56] kevinyamauchi commented on #1086
I think the main reason including multiple `ImageStack` in the same viewer is useful is that it keeps them aligned. That way as you pan and zoom between different features, you can immediately compare how they are changed between different processing steps.

In terms of how to compare, I sometimes use opacity as you mentioned, but I mostly hide/show specific layers (the eyeball on the right hand s

[2019-03-18 16:03] ambrosejcarr commented on #1086
Got it, makes sense to me! It'd be great if you would take a stab at this. How do you imagine changing the interface to support a persistent viewer?

[2019-03-18 17:57] kevinyamauchi commented on #1086
I propose to add an optional input argument that takes a napari `Viewer` object. If a `Viewer` object is provided, `display()` would append the image/spots as new layers in the provided `Viewer`.

The `display()` returns the `Viewer` object, so the usage pattern would be:
[code]

A question I have: my understanding is that the `Viewer` object would be passed by reference `display()`. When the user

[2019-03-18 17:59] kne42 commented on #1086
Sounds like a great API to me. It should return the same viewer as passed in :)

[2019-03-18 19:40] #310 closed

[2019-03-18 19:41] ttung commented on #310
Implementation in #311

[2019-03-18 19:45] ttung opened #1092 "Verify WSL Windows compatibility"
This is a branch of #42

[2019-03-18 19:50] #932 closed

[2019-03-18 19:50] #911 closed

[2019-03-18 20:09] ambrosejcarr commented on #617
@berl assigned you to this issue to reflect our work to create the processed outputs from your mouse panel and upload them to our bucket.

[2019-03-19 00:42] #1086 closed

[2019-03-19 13:23] #1076 closed

[2019-03-19 13:25] ambrosejcarr commented on #1057
Closed by #1073

[2019-03-19 22:12] ambrosejcarr commented on #1057
I talked to Tony. He thinks we should add a default value to the codebook file format. I agree, and think this provides a solution to the problems expressed here.

[2019-03-20 19:32] ambrosejcarr opened #1098 "Clarify implications of field of view overlaps on starfish processing"
Starfish does not currently over-sample images, which means that there are edge effects that are introduced by filtering and segmentation that may not be recoverable unless users provide images with adequate overlaps.

This is not currently communicated well in our documentation. We should decide whether we want to support non-overlapping data by loading tiles that are adjacent to the target tile,

[2019-03-20 20:19] #985 closed

[2019-03-21 17:55] berl commented on #1098
`starfish` is currently agnostic to overlap between FOVs.
Our format and FOV-centric processing allows for FOVs whose physical coordinates are not overlapping or even touching. Shouldn't this be easier to deal with than the case of overlapping FOVs?  Any mechanism to deal with overlapping FOVs should be able to treat zero overlap as a special case.

[2019-03-22 16:23] ttung opened #1101 "IntensityTable on disk needs versioning"

[2019-03-22 16:23] ttung opened #1102 "ExpressionMatrix on disk needs versioning"

[2019-03-22 16:25] ttung opened #1103 "Segmentation mask on disk will need versioning"

[2019-03-22 16:30] ttung opened #1104 "TransformsList on disk needs to be versioned"

[2019-03-22 21:57] ttung opened #1108 "Images with labeled axes are not processed properly"

[2019-03-22 22:00] ttung opened #1109 "Parameters to a pipeline component algorithm's constructor is not logged"

[2019-03-27 19:02] njmei opened #1116 "`write_experiment_json()` doesn't handle non-flat experiment directory structures correctly"
Hi all,

So I've encountered an issue when running `write_experiment_json()` in 'no copy' mode (see:
https://github.com/spacetx/starfish/pull/1053)

The resulting output .json files that starfish produces all assume that image tiles reside in the experiment root directory (see: https://github.com/spacetx/slicedimage/blob/3456f86a10cc9c89996a394cb75a03457a9bf6bc/slicedimage/io.py#L303).

However, o

[2019-03-28 16:50] berl commented on #1116
@ttung should this be linked to an issue in `slicedimage` or is this the right place?  The 'no copy' mode plus this directory fix will give us the ability to create `SpaceTx-format` datasets from data already present on disk.

[2019-03-28 18:05] ttung commented on #1116
Are auxiliary images mixed in with your primary images or are they separately stored?

[2019-03-28 18:49] ttung commented on #1116
Are auxiliary images mixed in with your primary images or are they separately stored?

Also, the `partition_path_generator` option of `Writer.write_to_path` might solve your problems.

[2019-03-28 22:11] njmei commented on #1116
@ttung Thanks for the reply Tony! It's very likely that our primary images will be mixed with our aux images.

I'll take a look at the `partition_path_generator` parameter. There wouldn't happen to be any documentation for that would there?

[2019-03-29 21:43] ttung commented on #1116
With this patch, I can get FOVs to be written to their individual directories

[code]

There is a wrinkle in the contents of the json files slicedimage writes, but I think I should be able to fix that.

[2019-03-29 21:55] ttung commented on #1116
Along with https://github.com/spacetx/slicedimage/pull/84, this should now work.

[2019-03-29 22:11] njmei commented on #1116
@ttung Hey Tony, I tried out your fix, it still doesn't work for our data because these modifications generate:

[code]

Unfortunately, our `fov_dirs` are nested under our `round_dirs` (see above). So primary_images.json would need to reside under:
~/expt_root_dir/Round_1_dir/FOV_1_dir/

I think Starfish needs to possibly deal with arbitrary nesting since this seems totally valid as well:
~/expt_r

[2019-03-30 00:53] #868 closed

[2019-03-30 00:54] ambrosejcarr commented on #863
Closed by #1075

[2019-03-30 00:54] #863 closed

[2019-03-31 22:08] berl opened #1121 "composite codebooks and (round, channel) limitations"
Barcoded multiplexing methods increase the number of mRNA species read out per round by using non-diagonal codebooks. This multiplexing combines with spatial resolution limitations of light microscopy to place an upper limit on the expression levels (spots per cell) that can be measured.  To increase the range of expression levels measured in a given experiment, published results in the field (MER

[2019-03-31 22:13] berl commented on #1121
cc: @njmei

[2019-03-31 23:56] njmei commented on #1121
Some toy example failure cases:

1. Uneven number of channels for primary images
[code]

2. Uneven number of channels for primary images per round and non-contiguous aux images (of the same type)
[code]

2. Unlikely, but food for thought
[code]

[2019-04-01 04:30] berl commented on #1121
@njmei thanks for the concrete examples of the problems in Question 2.  Also thanks (?) for the added wrinkle of `aux` channels!

 @dganguli and @ambrosejcarr thoughts?
right now @njmei's examples are pretty effective examples of how not to use `starfish` (indeed, how not to acquire data if you want to use `starfish`).  They highlight a lack of generality in our original model that may be worth ex

[2019-04-01 13:26] ambrosejcarr commented on #1121
Interesting issue. Can split codebook images be processed with the same image analysis pipeline (including the same parameters)?

If yes, my gut feeling is that these types of experiments should have two codebooks, and two decoding steps should be run sequentially. The resulting IntensityTables can be concatenated.

If the same parameterization does not work for both acquisition strategies, my sen

[2019-04-01 16:08] njmei commented on #1121
@ambrosejcarr

Hi Ambrose, I haven't literally tried the example test cases but know they fail pretty much right from the get-go because starfish treats `rounds` and `channels` as independent dimensions. There might be further downstream issues with the examples.

1. When trying to format the incoming example:
[code]

2. Again, when trying to format the incoming example:
[code]

3. This example is

[2019-04-01 17:52] ttung commented on #1116
After https://github.com/spacetx/slicedimage/pull/85, https://github.com/spacetx/slicedimage/pull/86, and https://github.com/spacetx/slicedimage/pull/87 are approved, and we bump the version in starfish, things will probably work. :)

[2019-04-01 18:30] njmei commented on #1116
I tried slicedimage 3.0.0 and got:

[code]

I think (https://github.com/spacetx/starfish/blob/master/starfish/experiment/builder/__init__.py#L142) will also need to be modified?

[2019-04-01 18:43] ttung commented on #1116
Yeah, if you want to add logic to customize how FOVs are named, that's fine w/ me. :)

[2019-04-01 19:39] njmei commented on #1116
After checking out starfish to 32ba1f30e2d0485387b5eb57dfa99f0c4f7b12b8, things look to be working for me now. There was no need for me to change how FOVs are named.

[2019-04-01 20:38] njmei commented on #1116
@ttung Looks like I spoke a bit too soon :/

The written out .json files now have the correct paths for pre-existing .tif files. However, it looks like I'm getting different sha256 hashes between starfish and the actual file.

Traceback:
[code]

Fields in `primary_images-fov_000.json`
[code]

Command line:
[code]

[2019-04-01 20:39] njmei commented on #1116
@ttung Looks like I spoke a bit too soon :/

The written out .json files now have the correct paths for pre-existing .tif files. However, it looks like I'm getting different sha256 hashes between starfish and the actual file.

Fields in `primary_images-fov_000.json`
[code]

Command line:
[code]

[2019-04-01 21:42] ttung commented on #1116
My guess is that the tiles as written by `tifffile` are slightly different from your input files.

[2019-04-01 22:18] njmei commented on #1116
Yeah, that appears to be the issue... skimage.io saved tiff files must include some kind of time information:

[code]

yields:
[code]

[2019-04-02 00:35] ttung commented on #1116
https://github.com/spacetx/starfish/tree/tonytung-inplace has the changes necessary to build an experiment in-place.  https://github.com/spacetx/starfish/tree/tonytung-inplace-poc has the changes of a proof of concept that I've successfully executed.

[2019-04-02 17:06] njmei commented on #1116
Okay, tested on my end and everything looks to work! Many thanks again @ttung!

![Screenshot from 2019-04-02 10-03-57](https://user-images.githubusercontent.com/43766899/55421761-db714180-552e-11e9-95a7-28031bf19019.png)

[2019-04-03 08:35] #1116 closed

[2019-04-03 17:20] #846 closed

[2019-04-04 20:42] shanaxel42 opened #1136 "How to structure physical coords on ImageStack."
Our Imagestack model has 5 dimensions {round, ch, zplane, x and y}. Currently you can label the round/ch and zplane dimensions with offset values to handle a scenario in which a user is processing offset dimensions, say zplanes {4, 6, 8}. We do this by creating xarray labels on the dimensions r/ch/zplane. We also have information about the physical coordinates of the x/y and z dimensions. Currentl

[2019-04-05 11:11] joshmoore commented on #1136
My overly simplistic understanding of the background here was that this works around an issue with xarray. Is there anything on the xarray roadmap that would either suggest one of the options above or alleviate the root problem?

[2019-04-05 16:04] shanaxel42 commented on #1136
Things would be slightly easier if xarray allowed you to have multiple multi-index labels per one dimension, but it still wouldn't solve all out problems. We'd still have to decide between keeping xc/yc/zc, or refactoring to just x/y lables and then what to do about z. Right now I think this issue is mostly around how we want to structure our data.

[2019-04-05 18:18] njmei commented on #1136
http://xarray.pydata.org/en/stable/data-structures.html#multiindex-coordinates

Naive question, doesn't xarray support multi-indexing though? Or is this referring to something else?

[2019-04-05 19:46] njmei commented on #1136
This is my naive opinion and I would defer to @berl regarding this but I think:

[code]

To make things straightforward, I think that indexing should *only* be possible with logical coordinates. But you should provide functions/methods that would allow people to convert from real physical coordinates to logical coordinates (and possibly vice-versa).

[2019-04-05 19:53] ambrosejcarr commented on #1136
Huh, you know, I think @njmei could be right about multiindices...

[code]

[2019-04-05 19:58] njmei commented on #1136
cool! Then x, y, and z could be `MultiIndex` types then with logical coordinates as the first level and physical coordinates as the second level?

[2019-04-05 22:24] ambrosejcarr commented on #1136
On the surface, this seems like it should be possible. @shanaxel42 may want to dig in a bit more before committing to anything.

[2019-04-05 22:31] shanaxel42 commented on #1136
ok @njmei is definitely right about being able to set coords as a pd.MulitIndex! But after trying this out there's a few issues. It appears that MultiIndicies don't work well with floats
[code]

Also if we were to set each dimension's coords to a MulitIndex they become 'virtual coords' and we lose some of the xarray coord functionality
[code]

But then the biggest issue this has uncovered for me i

[2019-04-06 01:19] ttung commented on #1089
I believe the correct behavior should be:

1. get `tile_shape` for every tile that specifies it.  if `tile_shape` is not provided for a tile, it should fall back on `default_tile_shape`
1. if all the tile shapes match, everything is great.  otherwise, throw an error.

[2019-04-06 01:19] ttung commented on #1088
Is this a 0.1.0 requirement?

[2019-04-06 01:50] ambrosejcarr commented on #1088
In my opinion this depends on whether we want our users to be able to use the CLI at the hackathon, and on whether we want feedback on the CLI at the hackathon. I could see it being 0.1.0 or 0.2.0.

[2019-04-07 18:59] ambrosejcarr opened #1145 "ElementWiseMult replaces ImageStack.xarray with np.ndarray"
This line is replacing the xarray with a numpy array.

https://github.com/spacetx/starfish/blob/master/starfish/image/_filter/element_wise_mult.py#L81

[2019-04-07 23:26] #759 closed

[2019-04-08 19:44] neuromusic commented on #1054
note: this is high priority because currently untested

[2019-04-08 19:45] neuromusic commented on #1092
1. install WSL on windows dev machine
2. install starfish
3. run starfish

[2019-04-08 21:46] ambrosejcarr opened #1154 "Reduce size of STARmap test data and run example in CI"
Currently the example is too large to run on travis.
* Reduce the data size
* Add assertions about the output
* Re-enable the travis test

[2019-04-08 22:05] njmei commented on #1154
It might be worthwhile to have a separate set of tests that use a full data set to ensure that starfish will be able to handle 'real' workloads and not accidentally get overoptimized to only work 'well' with smaller test cases.

[2019-04-09 00:03] ambrosejcarr commented on #1154
I think we're hoping to take the opposite tactic whereby we increase the ability to chunk, parallelize, and execute on larger and larger datasets while the "unit of processing" stays about laptop-sized (@ttung can correct me if I'm wrong).

However, separately, I think we will probably end up doing what you request in this instance because it's the pattern we've been following -- the existing data

[2019-04-10 02:39] ttung commented on #311
@berl Would love your feedback if you get a chance.  https://github.com/spacetx/starfish/pull/1160/files#diff-7fddd31cfc49ca7f1ce96c1e0d2cc138 is an example of a recipe.

[2019-04-10 20:52] #806 closed

[2019-04-10 20:54] shanaxel42 commented on #1054
fixed with #1161

[2019-04-10 20:54] #1054 closed

[2019-04-10 21:42] ambrosejcarr opened #1162 "Automatic generation of documentation"
Starfish documentation needs to accomplish a few things:

1. It needs to demonstrate to users clearly and succinctly how and why to use starfish, and users need to be able to take those examples and run and adjust them to help them bootstrap their use of starfish.
2. Starfish is solving a visual problem, so to communicate its value, the documentation must contain rendered outputs (both print state

[2019-04-11 16:32] dganguli commented on #1162
i completely agree. to add a bit more color, i see two main users of the docs: 1. spacejam attendees and 2. non-spacejam attendees who are evaluating whether or not starfish suits them. i think we prioritize each user type in that order. below, for each user type, i further offer a prioritization of how to write the docs.

**spacejam users**

1. notebooks that work. why? we expect attendees to run

[2019-04-11 17:08] neuromusic commented on #1162
for spacejam attendees, I would also add:

3. clear descriptions of output formats. why? so that WG4 & WG5 can load starfish outputs into their analyses.

[2019-04-11 17:23] ttung opened #1168 "Add test to verify that ImageStack with labeled axes -> IntensityTable works correctly"

[2019-04-11 18:19] #1108 closed

[2019-04-12 09:20] ttung commented on #1168
Confirmed, this does not work.

[2019-04-14 23:10] ambrosejcarr opened #1182 "Replace scaling in MERFISH notebook with ElementWiseMultiply"
We have a pipeline component now for scaling, we should replace the custom code in the MERFISH example.

[2019-04-15 04:00] ttung opened #1183 "normalize names for save and load methods for starfish key objects"

[2019-04-15 17:05] ambrosejcarr opened #1184 "Clip.SCALE_BY_IMAGE causes the xarray to be replaced by a numpy array"
Problem is [here](https://github.com/spacetx/starfish/blob/master/starfish/imagestack/imagestack.py#L709). Unsure how to fix due to interaction with mp_data_array.

cc @ttung @shanaxel42

[2019-04-15 19:10] ambrosejcarr commented on #1145
Explained by #1184

[2019-04-15 19:15] #875 closed

[2019-04-16 03:37] ttung opened #1191 "Remove ImageStack -> tile_data dependency"
`tile_data` does not accurately reflect the ImageStack when it's the product of a `sel` operation.  #1190 is an example of how this linkage breaks things.

[2019-04-16 20:30] ambrosejcarr commented on #858
@shanaxel42 Adding some notes on where I think the documentation can be improved upon. I ended up skimming through the whole docs instead of just the API docs. I can pick some of the stuff towards the bottom of the list.

I'd also like to raise some general questions about our UX that I think would be worth working out. For example, what prefix should users expect to be able to tab complete to:

1

[2019-04-16 21:14] neuromusic commented on #858
looking to the rest of the pydata ecosystem...

- pandas uses `read_*` for loading and `to_*` for saving AND conversion http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html
- xarray uses `open_*` for loading and `to_*` for saving AND conversion http://xarray.pydata.org/en/stable/io.html
- numpy uses `load*` for loading and `save*` for saving and `to*` for conversion (I think this is larg

[2019-04-16 22:05] neuromusic opened #1197 "add color deconvolution preprocessing"
This is needed to support chromogenic assays.

See https://scikit-image.org/docs/dev/auto_examples/color_exposure/plot_ihc_color_separation.html

[2019-04-16 23:50] neuromusic opened #1201 "add example of processing RNAscope data to docs"
We should provide an example of starfish processing multiplex RNAscope assay to the docs.

[2019-04-17 21:17] ambrosejcarr opened #1206 "Singleton pipeline components have unintuitive API"
This workflow makes sense to me:

[code]

For singletons, it doesn't make sense to me to tab complete, my workflow looks like this:

[code]

[2019-04-17 21:24] #1184 closed

[2019-04-17 23:49] ambrosejcarr opened #1208 "De-clutter starfish namespace"
Stuff that gets dropped into the starfish namespace when you import starfish right now:
[code]

Of that list, I think relevant things to import are:
[code]
I find the ambiguity of `experiment` and `Experiment` troubling, for example.

In addition, some of these packages have no clear import path in `starfish/__init__.py` so it is not clear to me why they are found in the top-level namespace (e.g.

[2019-04-18 00:12] ambrosejcarr commented on #1208
@ttung this seems like the kind of ticket you'd be least likely to mess up. Think this kind of clean-up would be possible pre-hackathon?

[2019-04-18 03:54] ambrosejcarr opened #1214 "max_proj does weird things to physical coordinates"
Reproduce: run the ISS.ipynb file, but really you just need to max proj the starfish.data.ISS() nuclei image.

![image](https://user-images.githubusercontent.com/5239152/56335809-0503ad00-616c-11e9-9666-bdb80cc5781e.png)

[2019-04-18 04:42] ttung commented on #1208
So one way to do this would be to nest everything implementation-related in a `_impl` folder.  It clutters the codebase but might make for a nice UX.  There's probably other approaches, but I'm not super knowledgeable about this. :(

[2019-04-18 04:43] ambrosejcarr commented on #1208
Ok. Let's get a third opinion. @kne42 ? :-)

[2019-04-18 05:21] #1168 closed

[2019-04-18 20:04] #1154 closed

[2019-04-19 04:51] ttung opened #1222 "PixelSpotDecoder documented in spot detection API"
see docs/source/api/spots/detection/detection.rst

[2019-04-19 19:32] kne42 commented on #1208
Sorry for the late reply, just got around to seeing this email notification.

So the general rule of thumb is:
- if a module contains only one *main* class/function, do not import it and import that object instead
- if a module contains only one public class/function, additionally make it private
- if a module will be heavily used, it can be imported
- objects that are not meant to be provided by

[2019-04-22 22:38] ttung opened #1246 "Type annotate backend, relative_url from slicedimage"
search for calls to resolve_path_or_url

[2019-04-22 23:01] ttung commented on #1214
@ambrosejcarr @shanaxel42 -- what's the state of this?

[2019-04-23 04:24] #311 closed

[2019-04-23 17:37] #704 closed

[2019-04-24 20:53] ttung opened #1258 "spot detection not compatible with labeled images"
concatenate_spot_attributes_to_intensities should use sel to write intensity data

[2019-04-24 20:54] ttung opened #1259 "FieldOfView.get_image should accept a CropParameter"

[2019-04-24 21:03] shanaxel42 commented on #1259
It does?
[code]
x_slice/y_slice are for cropping

[2019-04-24 21:03] ttung commented on #1259
So we ran into a situation where we wanted to crop a number of channels out.  :/

[2019-04-24 23:12] ambrosejcarr opened #1261 "Clip does weird things to seqfish data"
![image](https://user-images.githubusercontent.com/5239152/56699749-ada19780-66ab-11e9-80d3-8fb1b147ce3b.png)

[2019-04-24 23:12] shanaxel42 opened #1262 "Blob Decoding Breaks with zero spots"
Can reproduce on ISS first fov of iss data here https://d2nhj9g34unfro.cloudfront.net/xiaoyan_qian/ISS_human_HCA_07_MultiFOV/main_files/experiment.json

[2019-04-24 23:46] kevinyamauchi opened #1263 "Base calling Filter for in situ sequencing"
# Description
I think it would be useful to create a Filter component for performing base calls. In short, this would compute an image from an `ImageStack` where each channel corresponds to a nucleotide (i.e., C, G, T, A) and each pixel contains the base "quality" The base quality would be a score with range [0, 1] that is the likelihood a particular pixel corresponds to a particular nucleotide.

[2019-04-25 16:47] ambrosejcarr commented on #1262
Decoding by per-round max is breaking when a zero-length table is sent in for decoding. We need tests!

[2019-04-25 16:58] ttung opened #1268 "Cannot do ImageStack.{transform,apply} after ImageStack.{sel,isel}"
The resulting ImageStack takes a reference to the backing MPDataArray.  When we pass the MPDataArray to the child processes, we reshape the raw byte buffer to the shape of the resulting ImageStack.  However, the MPDataArray is sized to reflect the original ImageStack's size, and so the reshape operation fails.

[2019-04-25 17:56] njmei opened #1269 "Missing links (or wrong links) to source code for individual image manipulation functions"
1) It would be really nice to have links to source code (even if for thin wrappers)

Examples where this would matter:
https://spacetx-starfish.readthedocs.io/en/latest/api/image/index.html?highlight=iterate%20over%20axes#starfish.image.Filter.DeconvolvePSF

2) Some functions that do have links to source code appear to be pointing to the base class...

https://spacetx-starfish.readthedocs.io/en/la

[2019-04-25 18:00] njmei opened #1270 "[Docs] Doc search results return invalid urls"
Example search:
https://spacetx-starfish.readthedocs.io/en/latest/search.html?q=clip&check_keywords=yes&area=default

Example invalid url results:
https://spacetx-starfish.readthedocs.io/en/latest/_modules/starfish/image/_filter/clip.html?highlight=clip

https://spacetx-starfish.readthedocs.io/en/latest/_modules/starfish/image/_filter/richardson_lucy_deconvolution.html?highlight=clip

[2019-04-25 20:02] dganguli commented on #1263
If I understand correctly, and define space as Z x Y x X, this filter is a RxC x space => RxC x space operation. In the input ImageStack, we have pixel intensity values for each R and C. In the output ImageStack, we have a quality score for each nucleotide (across C) for all rounds R.

A subsequent decoder could then first perform a transformation of RxC x space => R x space. An example of such a

[2019-04-25 20:23] ambrosejcarr opened #1273 "PixelSpotDecoder does not add `spot_id` to IntensityTable"
... `spot_id` is needed for labeling an intensity table after segmentation.

Reproduce: replace BlobDetection with PixelSpotDecoding in the ISS notebook.

We should add tests for this.

[2019-04-25 20:23] ambrosejcarr opened #1274 "Watershed does not expose the parameter for executing opening on stain and nuclei"
... but all of the code needed to do this is already in place.

[2019-04-25 20:27] ambrosejcarr opened #1275 "PixelSpotDecoder throws an error when no spots are detected"
Reproduce: Run the baristaseq notebook with clip's expand dynamic range parameter = False (this will cause the threshold to be higher than any intensities).

[2019-04-25 22:07] njmei opened #1276 "[Napari] Option to persist starfish.display windows by default"
Would it be possible for Napari windows to not get garbage collected by default? (e.g. like matplotlib windows)

This happens when I run something like:
`starfish.display(some_imagestack)`

and I get stuff like:

`RuntimeError: wrapped C/C++ object of type CanvasBackendDesktop has been deleted`

CC: @kne42

[2019-04-25 22:07] ambrosejcarr opened #1277 "Intermittent https failures can cause large-scale multi-fov starfish runs to crash"
[code]

In this example, 538 of 539 fields of view successfully ran. The last one choked because of a random download failure.

It may make sense for slicedimage/starfish to retry in this case. I will also follow-up with cromwell.

[2019-04-25 23:10] ambrosejcarr opened #1279 "`blobs_axes` is not always required."
https://github.com/spacetx/starfish/blame/master/starfish/core/spots/_detect_spots/blob.py#L130

It should only be required to pass `blobs_axes` if the blobs_image is not already max_projected.

[2019-04-25 23:23] ambrosejcarr opened #1280 "Define a strategy to run user-defined pipelines using WDL"
Currently we have had some success by inlining python code, however it would be ideal to refine this to shunt more of the code into the repository.

See [https://github.com/spacetx/starfish/tree/ajc-wdl-smfish](https://github.com/spacetx/starfish/tree/ajc-wdl-smfish) for example workflows

[2019-04-26 19:28] ambrosejcarr commented on #1277
@rexwang suggested tenacity for these kinds of retries:

https://github.com/jd/tenacity

[2019-04-26 20:33] ttung commented on #1277
python-requests has retries, and has the ability to ignore certain requests codes for retries.  retrying a 404, for instance, is unlikely to ever make sense.

[2019-04-26 23:16] kevinyamauchi commented on #1263
I think we are on the same page, @dganguli . I totally agree that choosing the right base quality function is essential for this working. I made a prototype of this in #1281 . It's passing my tests and I ran some simple data through it and I think it works so far. It definitely needs more testing though. The prototype doesn't allow custom base calling quality functions, but if you think the approa

[2019-04-27 16:42] ambrosejcarr opened #1282 "Examine ImageJ ROIs"
ImageJ has worked on ROIs; perhaps there is learning for us in their documentation:

https://imagej.net/ROIs

[2019-04-27 16:43] ambrosejcarr commented on #798
ImageJ has a plugin to do this that we could learn from: https://imagej.net/Microscope_Focus_Quality

[2019-04-27 16:48] kevinyamauchi commented on #798
Oh wow, I totally forgot about this. I still think this is a good idea :P

[Micromanager also has several image-based autofocus systems](https://micro-manager.org/wiki/Autofocus_manual) that we could likely implement as well.

[2019-04-29 14:44] ambrosejcarr opened #1283 "Benchmark memory and cpu processing for PixelSpotDecoder"
Multiple groups identified that the PixelSpotDecoder was too slow to run on 3d data, and that it takes too much RAM.

One dataset required 60 GB to process a single (54, 1024, 1024) volume.

Masking ineligible pixel, ask discussed by @kevinyamauchi and Dan Goodwin at the SpaceTx hackathon, could provide further mitigation, but are unlikely to provide an adequate speed-up alone.

[2019-04-29 14:48] ambrosejcarr opened #1284 "3d processing pipeline for ISS data"
Markus Hilscher is interested in a 3-d extension to the ISS pipeline examples; their existing pipelines are all 2-d only.

[2019-04-29 14:55] ambrosejcarr opened #1285 "ImageStack `from_xarray`"
Multiple groups have discussed processing image data by round to reduce memory usage, likely converging at the IntensityTable stage. In some cases, these datasets are stored in separate experiments. If we want to enable this mode of SpaceTx data formatting, users identified that it was useful to be able to concatenate ImageStack objects in memory.

This is relatively simple with xarray, but this a

[2019-04-29 15:00] ambrosejcarr opened #1286 "Intuitive SpaceTx format conversion tools"
Getting data into SpaceTx format is a barrier for new users, and our existing tooling was unintuitive to them. We will need to develop (TileFetcher) or collaborate to build (Bio-Formats) easier-to-use tooling.

Some ideas floated by wranglers @hewgreen and @zperova included functional tooling wrapping `TileFetcher` that accepts config including a regex for the file naming conventions and a standar

[2019-04-29 15:04] ambrosejcarr commented on #1121
@simone-codeluppi confirmed that this is an issue for his datasets as well, and confirmed that he is unable to construct and load experiment objects given our existing restrictions.

[2019-04-29 15:40] ambrosejcarr opened #1287 "Question: Should the SpaceTx Experiment be able to store/record processed results"
As users process data, they have expressed interest in matching processed results to their raw data. Because the experiment is already well suited to be downloaded without localizing all the data that it is associated with, this feature could be very useful!

[2019-04-29 17:47] ambrosejcarr opened #1288 "[RFC] Who needs a non-python interface to starfish? (CLI?)"
Research which users need/want the CLI.

[2019-04-29 17:48] ambrosejcarr opened #1289 "Make SpaceTx Format readable from FIJI"
3 users at the hackathon expressed an interest in being able to more easily examine data in SpaceTx Format.

@joshmoore will the SpaceTx Format reader give us the capability to load our data into FIJI?

[2019-04-29 17:49] ttung commented on #1288
I'm very curious about this.  I don't think I saw a single person use the CLI at the hackathon. :)

[2019-04-29 18:00] dganguli commented on #1121
These are all very good points and definitely deserve some careful thought/discussion. I think there's a few things going on here that I'll try to re-articulate to make sure I understand:

1. Assuming **primary** images fit into a R x C x Z x Y x X tensor is a poor assumption for **non-multiplexed assays**. It is, however, a good assumption for multiplexed assays. Although see point 3 below.

This

[2019-04-29 18:05] dganguli commented on #1288
Apologies for the naiive question! Even if users don't use the CLI to determine  _pipeline recipe parameters_ isn't the CLI still useful for taking a known pipeline recipe, and pipeline-ing them up? e.g., writing wdls, using snakemake, etc.

[2019-04-29 18:06] ttung commented on #1288
Strictly speaking, one can use the `starfish recipe` command to run a pipeline, and we can remove all the other CLI commands.

[2019-04-29 18:07] ambrosejcarr commented on #1288
The CLI as written causes quite a lot of IO since it writes to disk after each command. Tony's recipe runner (mentioned above) is faster, and WDL can just execute python code directly, e.g. https://github.com/spacetx/starfish/blob/ajc-wdl-smfish/workflows/iss/iss.wdl

[2019-04-29 18:10] ttung commented on #1288
One of the key advantages of forcing recipe/CLI usage is that it enforces that everything is a pipeline component / algorithm, and eliminates a bunch of ad-hoc untraceable (i.e., no provenance data logged) python code.

[2019-04-29 18:10] dganguli commented on #1288
oh. thank you! @neuromusic originally the CLI was mean to support users who 1. were not comfortable with Python or 2. needed a CLI version to run a pipeline at scale given their compute infrastructure.

In retrospect, 1 probably doesn't make sense? But it'd be good to get quantitative about that. I'm not sure how much 2. makes sense given @ambrosejcarr and @ttung s comments. But, I would ask conso

[2019-04-29 18:12] ambrosejcarr commented on #1288
👍 . Also anyone else we think might be key users of starfish.

[2019-04-29 18:16] shanaxel42 opened #1290 "Brainstorm how to include code contributions written in other languages."
This came up at the hackathon specifically with a segmentation algorithm written in Julia. I think we should be able to have a way to maintain the original code granted the input and output formats from the algorithm are starfish compliant.

[2019-04-29 20:25] njmei opened #1292 "Since starfish tiles are scaled, should filter wrappers have more warnings regarding params?"
I got bitten during the hackathon by the fact that starfish rescales pixel intensities to be between `[0.0, 1.0]`. Specifically for the [trackpy bandpass wrapper function's](https://spacetx-starfish.readthedocs.io/en/latest/api/image/index.html#starfish.image.Filter.Bandpass) `threshold` parameter

I was setting my threshold to 1 (not knowing the tile data had been scaled), when it should have bee

[2019-04-30 06:41] joshmoore commented on #1289
Yes, exactly. (The presence of an OME-XML file _beside_ the `experiment.json` as produced by spacetx-writer is a workaround.)

[2019-04-30 15:56] VPetukhov commented on #1290
I see two ways of doing it:
1. Providing some setters/getters for corresponding fields and describing it in the documentation. In this case developers of each method can wrap julia/matlab/whatever calls to a separate python package, which is able to work with Starfish objects.
2. In addition to 1, Starfish team can provide some kind of package template, i.e. interface, which must be implemented by

[2019-05-01 18:09] ttung commented on #1287
Opinion: We should write a new file that references the original experiment and the results.  Files should be write-once as much as possible.

[2019-05-01 18:11] njmei opened #1293 "[Question] How to get custom preprocessing steps added to logging?"
I have a draft of a preprocessing pipeline that looks like:

[code]

The resulting log looks like it doesn't track any of the `ImageStack.apply()` operations:
[code]

Question: What is the best way to get those custom operations that were applied to the `ImageStack` added to the log?

[2019-05-01 18:13] ttung commented on #1197
Would this just be a filter operation that groups by ch?

[2019-05-01 19:17] shanaxel42 commented on #1293
The logging happens in the AlgorithmBase class so if your clipping methods inherit from AlgorithmBase then it should work!

[2019-05-01 19:28] ttung commented on #1206
So like the base class doesn't make sense...?

[2019-05-01 19:42] ttung opened #1294 "osmFISH complete data set does not load"
It is made of float64 numpy tiles, and has data outside of (0,1).

@ambrosejcarr @dganguli who converted this data set?  can we figure out a good way to fix this?

[2019-05-02 01:02] ambrosejcarr commented on #1283
Seems the speed problem is the `sklearn.NearestNeighbors.kneighbors` call, or an interaction with multiprocessing (`parallel.py`)

![image](https://user-images.githubusercontent.com/5239152/57052292-6b9cc680-6c54-11e9-9092-aa0af0ed7168.png)

[2019-05-02 18:03] ttung commented on #798
Is it likely that we have many zplanes that are entirely useless?  I wonder if it's possible to break each image into regions, calculate how in-focus each region is (contrast detection?), and combine them.  Kind of like what Google is doing with its cameras.

[2019-05-02 18:25] ambrosejcarr commented on #798
We are likely to have many z-planes that are entirely useless.

[2019-05-02 18:31] berl commented on #798
I agree that there are likely to be out-of-focus planes with no data, but throwing the raw data away should be done very carefully so that:
1. we don't delete something important
2. we don't confuse ourselves later when one round or channel has fewer/different z positions than another in the same or different FOVs.

also, I hope we don't need to add tensorflow as a dependency for this purpose.

[2019-05-02 18:47] ttung commented on #798
I would assume that we would just skip further processing with the planes that don't have useful information.  starfish should never overwrite its inputs.

What is the concern with tensorflow as a dependency?

[2019-05-02 18:52] berl commented on #798
bloat.

using focus data as a mask (or whatever you want to call it ) to skip further processing could be very useful and save compute time.  would it be able to save memory ?

[2019-05-02 18:59] ttung commented on #798
What if it's an optional dependency?

It depends on the processing workflow.  The most obvious strategy would be to save the relevant tiles to disk, and load them back up as a new `ImageStack`.

[2019-05-03 04:57] neuromusic opened #1295 "port processing stages of SpaceTx pipelines"
As a spaceTx data analyst I want the starfish api to support every step of my processing pipeline so that I can create a starfish benchmarking pipeline

[2019-05-03 05:04] neuromusic opened #1296 "Windows Compatibility"
# Objective:
*I can't be a user of starfish unless it supports my operating system*

## ACs:
* Starfish CI runs on windows

## Validation
* Our windows users tell us they have successfully run starfish on their machines.

Notes
* The primary operating system of more than half our users is windows.
* We have WSL support.
* Some of our users have windows machines that are too old for WSL.

[2019-05-03 05:19] neuromusic opened #1297 "output formats from all fields of view in an experiment can be merged into an object that is usable on a laptop"

[2019-05-03 05:20] neuromusic opened #1298 "Standardize and document output data formats such that the outputs of the processing can be analyzed in Python and R"

[2019-05-03 14:12] ambrosejcarr commented on #1262
Fixed by #1271

[2019-05-03 14:12] #1262 closed

[2019-05-03 14:13] ambrosejcarr commented on #869
Closed by #752

[2019-05-03 14:13] #869 closed

[2019-05-03 14:14] ambrosejcarr commented on #841
Closed by #1165 #1159

[2019-05-03 14:14] #841 closed

[2019-05-03 15:34] ambrosejcarr commented on #850
@dganguli `stagePos.csv` is just a series of unlabeled pairs. Can you guess the organization? Which column is `x` and which is `y`, and are rows sequentially ordered from fov 0? The number of rows appears to match (496).

[code]

[2019-05-03 15:54] dganguli commented on #850
I'm not sure, based on the data. But my prior is that it's ordered from FOV 0 to 496, and the columns are y, x. Another option is to reach out to the spacejammer from this group to ask? @neuromusic

[2019-05-03 16:09] #860 closed

[2019-05-03 16:34] ambrosejcarr opened #1301 "Mask Pixels when carrying out pixel detection and decoding"
The Expansion Microscopy Pipeline uses a filter to mask pixels that are ineligible for spot finding. This filter:

1. Matches the intensity distribution of each channel in each round
2. Averages the channels in each round, producing a single gray-scale volume per round
3. Averages the rounds, producing a single gray-scale volume per experiment
4. Thresholds this image to identify eligible pixels f

[2019-05-03 16:34] kevinyamauchi opened #1302 "Add support for other types of projections on ImageStack"
# Proposal
I think it would be useful to expose other methods of projecting along axes for `ImageStack` (e.g., `DataArray.sum()` and `DataArray.mean()`). This would add support the ExFISH case for projecting across (R, C) before spot segmentation (#1301).

# Implementation
Some possibilities:
1. I think the thing that is the least work is to make a filter, `Filter.Project` that takes projection ty

[2019-05-03 16:36] neuromusic opened #1303 "add info on zenhub to contributor's guide"
The starfish team has begun using zenhub to manage the starfish backlog. So far, this includes the following features that vanilla Github does not enable:

- a kanban-style board to track the backlog and in-progress work
- Epics to group issues together that support a larger chunk of work

We should give contributors clarity on how to

1. Access the zenhub board to see the project board
2. Install

[2019-05-03 16:46] ambrosejcarr commented on #876
A solution for these data is:

1. Process data by round
2. mask uninformative pixels (see #1301)
3. Break up IntensityTable creation (image reshaping) and decoding, such that masked intensity tables can be the outputs of each round, which are gathered from all rounds prior to decoding.
4. Concatenate the masked intensity data (order ~ 100x smaller, should fit in memory)
5. Carry out PixelSpotDecod

[2019-05-03 17:20] kevinyamauchi commented on #1301
@shanaxel42 patiently discussed this with me yesterday and based on that, I think the best approach here is to use the segmentation mask to select the pixels corresponding to spots from the IntensityTable. Rather than making a monolithic filter component, I think we can make/modify a few components, which will give users more flexibility in the future.

# Proposed pipeline
## Assumptions
1. We hav

[2019-05-03 17:30] ambrosejcarr commented on #1301
I like this. One concern I have is how this will function for large fields of view that are dense in z, for example expansion microscopy, whose fields of view are (4, 4, 300, 2048, 2048).

For these images, it would be great to be able to mask individual volumes (per round) and combine the results, as this would substantially reduce memory usage and make processing more parallel.

I outline my bes

[2019-05-03 18:00] shanaxel42 opened #1304 "Process spaceTX Benchmarking datasets"

[2019-05-03 18:00] shanaxel42 opened #1305 "SpaceTX"

[2019-05-03 18:02] #1304 closed

[2019-05-03 18:03] shanaxel42 opened #1306 "compile SpaceTx benchmarking results"
As a working group 5 member, I want to see processed spaceTX benchmarking results from smFISH and ISS in an organized aws folder, so that I can start my benchmarking analysis.

- [ ] format ISS mouse dataset into SpaceTX

- [ ] format smFISH dataset into SpaceTX

- [ ] write a workflow processing file for ISS

- [ ] write a workflow processing file for smFISH

- [ ] process full ISS dataset with s

[2019-05-03 18:11] shanaxel42 commented on #852
EPIC to vague, we're reorganizing

[2019-05-03 18:11] #852 closed

[2019-05-03 18:16] shanaxel42 commented on #839
Closing in favor of #842

[2019-05-03 18:16] #839 closed

[2019-05-03 18:17] #837 closed

[2019-05-03 18:17] shanaxel42 commented on #838
closing in favor of #842

[2019-05-03 18:17] shanaxel42 commented on #838
closing in favor of #842

[2019-05-03 18:17] #838 closed

[2019-05-03 18:21] shanaxel42 opened #1307 "Build converter from Biohub database to experiment.json"

[2019-05-03 18:40] neuromusic commented on #915
is this still an issue?

[2019-05-03 18:41] neuromusic commented on #916
assuming this is no longer an issue. feel free to re-open @ambrosejcarr if that's not the case

[2019-05-03 18:41] #916 closed

[2019-05-03 18:41] #934 closed

[2019-05-03 18:41] neuromusic commented on #915
I'm going to assume it's no longer an issue. feel free to open if otherwise

[2019-05-03 18:41] #915 closed

[2019-05-03 18:45] #954 closed

[2019-05-03 18:45] #978 closed

[2019-05-03 18:48] kevinyamauchi commented on #1301
I agree that that the process described above wouldn't work well with acquisitions densely sampled in Z. However, I think the general approach is totally compatible by just performing the operations on a per-round basis. In terms of the operations, it is the same as if it were done in a monolithic pipeline component. However, it would require the user to write a bit more code (e.g.,, some sort of

[2019-05-03 18:50] neuromusic commented on #1015
Closing this issue. Feel free to reopen if you are still having issues, @rojinsafavi!

[2019-05-03 18:50] #1015 closed

[2019-05-03 18:52] #1017 closed

[2019-05-03 18:53] neuromusic commented on #1018
https://spacetx-starfish.readthedocs.io/en/latest/getting_started/formatting_data/index.html

[2019-05-03 18:53] #1018 closed

[2019-05-03 18:54] #1019 closed

[2019-05-03 18:55] #1021 closed

[2019-05-03 18:55] #1022 closed

[2019-05-03 18:55] #1023 closed

[2019-05-03 18:55] #1024 closed

[2019-05-03 18:55] #1025 closed

[2019-05-03 18:55] #1029 closed

[2019-05-03 18:55] #1020 closed

[2019-05-03 18:58] neuromusic commented on #1037
We currently only support windows on WSL: https://spacetx-starfish.readthedocs.io/en/latest/getting_started/installation/index.html?highlight=windows#step-by-step-installation-on-windows

[2019-05-03 18:58] #1037 closed

[2019-05-03 20:09] shanaxel42 commented on #1092
done!

[2019-05-03 20:09] #1092 closed

[2019-05-03 20:13] shanaxel42 opened #1308 "logging"

[2019-05-03 20:14] #1308 closed

[2019-05-03 20:15] shanaxel42 opened #1309 "Starfish Durability"
-Logging needs to work as expected
-All file formats need to be versioned and documented

[2019-05-03 20:15] #1136 closed

[2019-05-03 20:16] #1162 closed

[2019-05-03 20:31] shanaxel42 commented on #1293
reopen if you still have questions!

[2019-05-03 20:31] #1293 closed

[2019-05-03 20:36] shanaxel42 commented on #218
closing this in favor of "Do we need cli question"

[2019-05-03 20:36] #218 closed

[2019-05-03 20:38] #705 closed

[2019-05-03 20:43] #539 closed

[2019-05-03 20:45] #409 closed

[2019-05-03 20:46] #324 closed

[2019-05-04 00:16] ttung commented on #724
I think this is done.  Feel free to reopen if I'm wrong.

[2019-05-04 00:16] #724 closed

[2019-05-04 17:39] njmei opened #1310 "`IntensityTable` is truncating x,y,z coordinates for spot detection methods that return subpixel results"
We've been in the process of comparing the results of our current pipeline vs. a starfish version and it looks like we've stumbled on a really unfortunate 'feature' of the current `IntensityTable` data structure for spot based detection methods.

Below is a visual example (diamonds are our pipeline, circles are starfish), with the takeaway being that the starfish circles are not centered on detect

[2019-05-06 16:18] ambrosejcarr opened #1311 "Implement SeqFISH SpotFinding"
SeqFISH carries out spot finding using the following approach:

[Reference](https://www.cell.com/cell/fulltext/S0092-8674(18)30647-0)

Starfish's `LocalSearchBlobDetector` implements the local matching, but does not incorporate decoding, or consensus matching across anchor rounds.

Starfish should implement the consensus matching required by the SeqFISH spot finder.

[2019-05-06 16:19] dganguli commented on #1310
@njmei pardon my ignorance here -- can this be fixed simply by removing the flooring you pointed out immediately after the results are produced?

if that's true, does that break anything else? if not, then i think the fix is simple?

but i'm sure i'm missing something here

[2019-05-06 16:24] ambrosejcarr commented on #1310
Seems like we'll also need to make the IntensityTable pixel coordinates Floats instead of Ints. This feels like a sensible and relatively simple change to me.

[2019-05-06 16:25] njmei commented on #1310
@dganguli I'm hoping resolving this is as simple as removing the flooring :)

But there was probably (?) a reason the spot values were converted to `int` which is why I opened this issue. I'm wondering if there are any specific indexing operations that rely on the spot locations being ints?

[2019-05-06 16:38] dganguli commented on #1310
@njmei got it. some basic sleuthing can elucidate why this decision was made:

https://github.com/spacetx/starfish/pull/898

which resolves to an issue made by @berl https://github.com/spacetx/starfish/issues/825

[2019-05-06 16:47] shanaxel42 opened #1312 "PixelSpotDecoding too slow"
![image](https://user-images.githubusercontent.com/6810854/57240597-b6676700-6fe3-11e9-89fe-4c9d729dbb8d.png)

The slowdown comes from the skimage.regionprops.centroid call on each spot found

possible fix proposed by @dganguli is too "swap that out with a pure numpy call based on the bbox" although some research needs to be down on how accurate this would be in relation to the intensities.

This

[2019-05-06 16:50] dganguli commented on #1310
the blob detector has the same problem: https://github.com/spacetx/starfish/blob/eb7c43842c0ffda2f24136d7a3c625dbdd2fcacb/starfish/core/spots/_detect_spots/blob.py#L117

[2019-05-06 16:57] dganguli commented on #1310
uh oh, re-visting @berl 's stack trace in detail ... i think the indexing use case is internal to starfish, something to do with calculating physical coordinates assumes pixel coordinates are ints. the plot thickens!

[2019-05-06 17:07] #1305 closed

[2019-05-06 17:13] #489 closed

[2019-05-06 17:50] neuromusic commented on #1294
@ambrosejcarr will point @ttung to the raw data

[2019-05-06 17:56] ttung commented on #1294
@ambrosejcarr can you assign this to me once you link me the data?  kthx.

[2019-05-06 18:09] ambrosejcarr commented on #1294
@ttung I've tried to record the provenance in the tile fetchers whenever possible:

https://github.com/spacetx/starfish/blob/master/docs/source/_static/data_formatting_examples/format_osmfish.py#L197

[2019-05-06 18:18] dganguli commented on #1310
If physical coordinate calculations were to use interpolation, I think that would fix this particular problem.

I'm not sure I understand your question about further downstream steps though?

[2019-05-06 18:55] njmei commented on #1310
@dganguli so let's assume physical coordinates (xc, yc, zc) are now calculated with interpolation for `IntensityTable`

My question about downstream steps is: Will starfish run in to troubles when trying to merge spot `IntensityTable`s across different fovs? Specifically, is it the case that spot table merging across fovs is not dependent on x, y, z being `int`?

[2019-05-06 20:02] ambrosejcarr opened #1313 "ISS pipeline recipe and WDL produce all-nan output files"
- [ ] Debug the pipeline to understand why nans are being generated.
- [ ] If needed, contact authors to verify updated parameters
- [ ] verify that fix produces non-nan results on test data
- [ ] reprocess full dataset and send results to Markus Hilscher

[2019-05-06 20:13] shanaxel42 opened #1314 "Create organized starfish.spacetx bucket"
We need to define how we want to organize both the published datasets @dganguli will be working with. And the spaceTX datasets and results for the benchmarking.

[2019-05-06 20:16] ambrosejcarr commented on #1314
I think #1287 is relevant to the discussion of the formatted/raw separation.

[2019-05-06 22:07] njmei commented on #1310
I've put in a pull request that kicks the can down the road but unblocks and allows me to continue pipeline spot comparisons. There should probably be a separate issue opened for dealing with downstream effects of having float x,y,z spot attributes in the `IntensityTable`?

[2019-05-07 03:23] ambrosejcarr commented on #851
Formatted data is here: s3://spacetx.starfish.data.public/browse/formatted/iss/20190506

[2019-05-07 14:11] ambrosejcarr commented on #1313
The ISS pipeline Markus wrote works on `ISS breast fov_001`

[2019-05-07 17:16] ttung commented on #1294
Ideally, we should record the provenance in the formatted data. :)

[2019-05-07 17:20] ttung commented on #1302
For reasons of API stability, we should not remove `Filter.MaxProject` for a number of releases after we implement `Filter.Reduce`.

`ImageStack.max_proj()` should be a hidden method, IMO.

[2019-05-07 17:54] pdichiaro opened #1317 "seqFISH: data conversion into SpaceTx format"
I have an issue with the part of conversion of my data into space TX format. I am using spacetx writer but it is not clear how to add auxiliary images like NUCLEI that must be separated from primary ones and how to write a custom codebook.csv for the conversion into codebook.json. I think it could be easier for a user to have some data example (raw and formatted ) for seqFISH.

[2019-05-07 18:44] #1082 closed

[2019-05-07 18:44] #1081 closed

[2019-05-07 18:47] #842 closed

[2019-05-07 18:48] #1298 closed

[2019-05-07 18:49] #562 closed

[2019-05-07 18:51] #1297 closed

[2019-05-07 19:00] #864 closed

[2019-05-07 19:01] #848 closed

[2019-05-07 19:01] #844 closed

[2019-05-07 19:06] shanaxel42 opened #1318 "Formatting tool for user friendly converting to spaceTX format"
- [ ] Define file name convention

- [ ] Have tile fetcher example that works with above convention

- [ ] Document in readthedocs

[2019-05-07 19:07] shanaxel42 opened #1319 "Define a way in which to link output of processed experiments to SpaceTX format"

[2019-05-07 19:09] #1039 closed

[2019-05-07 19:21] shanaxel42 opened #1320 "Registration"

[2019-05-07 19:24] shanaxel42 opened #1321 "Improvements to image segmentation"
# Objective
*As a computational biologist analyzing imaging data containing cells, I want starfish to implement the tools that I use in my own workflow to segment cells so that starfish can provide end-to-end processing of my data and I can make use of starfish's output formats and visualization capabilities. Starfish must implement these in a way that I can understand and use without assistance f

[2019-05-07 19:29] shanaxel42 opened #1322 "(composite, ragged) experiment and codebook support"
# Objective

*As a spaceTX data analyst with an experiment that does not have a matching number of rounds and channels, I want starfish to support this data model, so that  I can create a starfish benchmarking pipeline*

## Acceptance Criteria
* Simone can process his data with starfish
* Brian Long can process his data with starfish

## Notes
Encapsulates work that needs to be done to support dat

[2019-05-07 19:30] shanaxel42 commented on #847
closing because repeat of work defined in a number of other issues

[2019-05-07 19:30] #847 closed

[2019-05-07 19:40] neuromusic opened #1323 "demonstrate use of starfish on multiple workflow runners"

[2019-05-07 19:43] shanaxel42 commented on #867
repeat of #1239

[2019-05-07 19:43] #867 closed

[2019-05-07 20:07] neuromusic opened #1324 "expose more options for watershed segmentation"
from @dganguli :

skimage allows multiple parameterizations of the watershed algorithm that we wrap. of relevance: the image, markers, and a mask

https://scikit-image.org/docs/dev/api/skimage.segmentation.html?highlight=watershed#skimage.segmentation.watershed

For our usage of this wrapper, we typically set the image as either a stain for all RNA molecules or a max projection of the images. Ofte

[2019-05-07 21:06] shanaxel42 commented on #1286
closing, repeat of #1318

[2019-05-07 21:06] #1286 closed

[2019-05-07 21:24] ambrosejcarr commented on #1277
I've followed up with the cromwell team; these types of retries are not things they cover. Their software will retry if data localization that is governed by specifying a cromwell `File` type as an input fails. Since we do the localization inside the command via `requests`, this is not covered by the workflow engine.

@rexwangcc please correct me if I have this wrong.

Given this, Tony's solution

[2019-05-07 21:38] shanaxel42 commented on #637
non issue now that PixelSpotDetector is now PixelSpotDecoder

[2019-05-07 21:38] #637 closed

[2019-05-07 21:45] ambrosejcarr commented on #1313
It was an issue with the way `pd.concat` pushes strings. This is fixed in #1325 and the results from the workflow run have been sent to Markus for QC.

[2019-05-07 23:32] #470 closed

[2019-05-08 00:40] ambrosejcarr commented on #1322
@ttung identified that putting all the images into `auxiliary_images` is a feasible work-around for the time being.

This is correct, but I believe we need to be able to provide first-class support for SpaceTx assays. In particular, sequential smFISH seems likely to be a popular assay, and so it feels illogical to treat it as an edge case and solve the issue with a work around.

Although changes t

[2019-05-08 00:48] ambrosejcarr commented on #618
ScaleByPercentile was removed.

[2019-05-08 00:48] #618 closed

[2019-05-08 14:27] kevinyamauchi commented on #1302
@ttung, is `Filter.Reduce` a planned component or a proposed name for this component?

[2019-05-08 19:55] ttung commented on #604
We definitely need this; unless this has been superseded by a new issue, we should get this done ASAP.

[2019-05-08 20:30] shanaxel42 commented on #604
@neuromusic was under the impression we already had these?

[2019-05-08 20:57] shanaxel42 opened #1326 "Remove restriction that all experiments need a primary image"
Required for osmFISH processing, allows people to give us all their images as one giant tileset that can be labeled however they want. In addition, the schema will enable jagged image groups which can be missing certain rounds and channels.

The responsibility will be on the user to load image groups that form coherent tensors; starfish will continue to expect that tensors be dense in memory and t

[2019-05-08 21:00] shanaxel42 commented on #1326
related to #1259

[2019-05-08 21:49] ttung commented on #1314
My proposal:

Top level: A list of datasets.  NOT ASSAYS.
Second level: {raw, spacetx-formatted, outputs}.
Each second-level folder has timestamped folders.

[2019-05-08 21:54] ambrosejcarr commented on #1314
Makes sense. Do we want a naming convention for the datasets? What information should be encoded in the name?

Hoping to avoid things like:
[code]

[2019-05-08 21:55] ttung commented on #1314
I would say something more about the tissue type and chemistry?

[2019-05-08 22:14] shanaxel42 opened #1328 "Refactor FieldOfView.get_image() to FieldOfView.get_images()"
After #1326 we should refactor FieldOfView.get_image() to be FieldOfView.get_images() that takes in an image name and optional round/chs/zplane,x,y selected axes parameters. If the selected axes given are within multiple aligned image groups FieldOfView.get_images() should return a list of Aligned Imagestacks

[2019-05-09 17:00] neuromusic opened #1331 "Add author attributions to docstrings for functions in `starfish.data`"
- [ ] MERFISH
- [ ] allen_smFISH
- [ ] DARTFISH
- [ ] ISS
- [ ] osmFISH
- [ ] BaristaSeq
- [x] ImagingMassCytometry
- [ ] SeqFISH
- [ ] STARmap

[2019-05-09 17:43] ttung commented on #1302
I'm proposing it. :)

[2019-05-09 20:34] neuromusic commented on #663
cc @berl @njmei

[2019-05-09 21:22] ttung opened #1332 "verify physical coordinates are consistent throughout spot finding"
1. Document the implications.
2. Transferring physical coordinates to the intensity table should work for the last row/column of pixels.

[2019-05-09 21:31] #1310 closed

[2019-05-09 23:10] ttung commented on #1319
I don't understand what this issue is about. :(

[2019-05-09 23:28] neuromusic commented on #1197
actually, I think it's just linear unmixing ... https://spacetx-starfish.readthedocs.io/en/latest/api/image/index.html?highlight=unmixing#starfish.image.Filter.LinearUnmixing

[2019-05-09 23:48] ambrosejcarr commented on #1268
in-place operations _also_ fail after `.sel` and `.isel`

[2019-05-09 23:49] ttung commented on #1268
That does not surprise me.

[2019-05-09 23:53] ambrosejcarr opened #1335 "Imagestack.sel is very slow on large volumes"
My understanding is that `ImageStack.sel` should produce a view of the data in ImageStack. However, attempts to select data from a large volume takes a very long time (~5-10 seconds), which makes me wonder if it is copying.

Reproduce:

[code]

[2019-05-09 23:58] ttung commented on #1335
`sel` is doing a copy, apparently.  That is not great.

[2019-05-10 00:00] ambrosejcarr commented on #1335
This _may_ be an edge case -- I'm loading a 33 GB volume into memory, and selecting rounds from it because I couldn't use our select-on-load capabilities. I will be able to avoid situations where it's this bad in the future.

[2019-05-10 01:02] rfor10 opened #1336 "Chromatic Aberration Correction"
### Nonrigid Image Transformation
[Chromatic aberration](https://en.wikipedia.org/wiki/Chromatic_aberration) causes light of different wavelengths to be imaged at different XY pixels in a systematic manner. This can be corrected after imaging with high accuracy, but to apply the correction requires non-rigid transformation of the image.

We correct this in the Wollman lab by imaging multicolored d

[2019-05-10 14:36] joshmoore commented on #1319
I'm likely partially to blame. There are other uses, but this began around the possibility of having a single call to:

[code]

which validates the entire tree. I was thinking:

[code]

Elsewhere you've mentioned the immutability, which might suggest:

[code]

[2019-05-10 17:14] ttung commented on #1317
There's an example of how to include nuclei images in the [BaristaSeq data conversion example](https://spacetx-starfish.readthedocs.io/en/latest/usage/data_formatting_examples/format_baristaseq.html#sphx-glr-usage-data-formatting-examples-format-baristaseq-py).

Here's an example of a [seqfish codebook csv](https://d2nhj9g34unfro.cloudfront.net/browse/raw/seqfish/2017-08-23-10k-gene-barcodes%20rou

[2019-05-10 17:58] shanaxel42 commented on #1326
Instead of making this change @ttung is going to provide examples of how to format datasets to achieve the processing by round goals without removing this restriction

[2019-05-10 17:58] #1326 closed

[2019-05-10 20:32] shanaxel42 opened #1337 "Stitching"

[2019-05-10 20:33] ttung opened #1338 "Multi FOV workflows"
# Objective
As a scientist generating images that span multiple fields of view, I want starfish to implement a method to reconcile the positions of those images so that the outputs of starfish (spots, cells) can be interpreted and analyzed in a unified coordinate space, which reflects the physical positions of my samples

## Acceptance Criteria
* Starfish corrects the physical coordinates of image

[2019-05-10 20:34] ttung commented on #1337
Can we nuke this in favor of #1338? :)

[2019-05-10 20:35] shanaxel42 commented on #1337
oh yup!

[2019-05-10 20:35] #1337 closed

[2019-05-10 21:38] shanaxel42 opened #1340 "Starfish Paper"
Making this epic so we can organize and prioritize issues that Deep encounters in working with the published datasets.

[2019-05-11 00:55] ttung commented on #1322
# Thesis
We should not be opinionated about how people organize their data on disk.  We should make it easy to load data regardless of how it is organized.  Therefore, we should support the following models:
1. aux tiles stored inside the primary image [collection](https://github.com/spacetx/slicedimage#collection).
2. a primary image collection that is not uniformly sized on round/ch/z.
3. a prim

[2019-05-11 02:14] ambrosejcarr commented on #1322
Was the first example meant to be the following?
[code]

For `Combiner` I'd suggest the method live somewhere outside `Filter` but I'm on board with the concept.

Everything else looks 👍

[2019-05-11 02:22] ttung commented on #1322
Oh yeah. Whoops copy paste. :)

[2019-05-11 13:55] ambrosejcarr commented on #850
Data is uploaded to `s3://spacetx.starfish.data.public/browse/formatted/MERFISH/20190511/`

[2019-05-12 20:59] kevinyamauchi commented on #1263
Filter implemented in #1281

[2019-05-12 20:59] #1263 closed

[2019-05-13 12:52] ambrosejcarr commented on #1311
Starfish could process only very small SeqFISH fields of view using a per-fov processing model (~300x300px). I am going to pilot a per-round processing workflow using SeqFISH and open some issues detailing my proposed data flow for a coded assay that is processed per round.

[2019-05-13 15:52] kevinyamauchi commented on #1302
Sounds good, @ttung . I took a crack at it in #1342. I still need to add tests, but feel free to check it out if you're curious.

[2019-05-13 18:04] dganguli commented on #1322
What does the Combiner do? Does it create a single ImageStack out of a set of ImageStacks?

[2019-05-13 18:04] dganguli commented on #1322
Modulo my last comment, this all seems very thoughtful and I'm totally on-board.

[2019-05-13 18:05] ttung commented on #1322
It creates a single ImageStack out of a set of ImageStacks.

[2019-05-13 18:11] dganguli commented on #1322
what concrete use-case are you thinking of for

3. a primary image that resides in multiple collections.

which leads to the desire for a Combiner? Apologies for being slow here

[2019-05-13 18:14] ttung commented on #1322
I don't think this is how people should organize data, but my thesis is that we shouldn't be opinionated about how people organize their data as long as it's labeled correctly.  We should just provide tooling for people to ingest that data into starfish regardless of any questionable choices they may have made in data organization. :)

[2019-05-13 18:20] dganguli commented on #1322
definitely agree with you there -- just wondering if anyone at spaceJam or anyone you've encountered has actually organized their data/processing in this way? or is 3. purely theoretical? i know for 1. and 2. i've seen actual examples, but for 3. i haven't.

[2019-05-13 18:39] ttung commented on #1322
(3) isn't purely theoretical.  We advised this as a stopgap measure for uncoded assays while we figure out how to support things better.

[2019-05-13 18:55] dganguli commented on #1322
Got it. I still don't get what problem (3) solves for un-coded assays though? Can you explain it to me?

[2019-05-13 19:06] shanaxel42 commented on #1331
If not published and not part of spaceTX list person who gave data. If part of spaceTX do this and acknowledge spaceTX

[2019-05-13 19:30] #1319 closed

[2019-05-13 19:38] dganguli commented on #1322
Update: @ttung explained this to me offline. Basically, if I'm trying to load data into an ImageStack, where the individual tiles, across FOVs (for example) arise from different sizes (x, y, z) and there are some rounds/channels missing, you can still load all this into an ImageStack. Combiner will handle the logic of how this will actually all work.

[2019-05-13 20:22] #1277 closed

[2019-05-14 10:27] zperova commented on #1322
@ttung @ambrosejcarr What are your thoughts on supporting contributors with stitched images since most of the data stored/processed in lab is stitched.

[2019-05-14 15:09] ambrosejcarr commented on #1301
I think your proposed implementation makes sense. This looks good to implement to me. Making sure I'm understanding, this will entail:

1. A segmentation component
2. A modification of the PixelSpotDecoder that allows it to take as input a mask from (1) above

For 1 & 3 to work, I think the base calling filter should optionally take a codebook and translate it to the new base-called feature space.

[2019-05-14 16:51] gapartel opened #1344 "Graph-based Spot Decoding"
Spot decoding strategies based only on intensity look-up of the max-valued channel in each sequencing round can be prone to false decoding when fluorescent spots are highly clustered together or presence of highly structured background fluorescence. One way to solve this issue is to detect spots in all channels and rounds and then decode them jointly in a graph minimizing a given cost function. De

[2019-05-14 22:34] shanaxel42 commented on #1314
proposal!
`starfish
    published
        assays
            datasets (some sort of schema for naming tissue type and chemistry)
                raw
                formatted
                    date
                        experiment.json
                processed
                    date
                        decoded.csv (or whatever)
    unpublished
        assays
            datasets (some s

[2019-05-14 22:40] #1287 closed

[2019-05-14 22:59] ttung commented on #1314
I'm generally supportive of this approach.

What's with the top-level starfish thing?

[2019-05-14 23:02] shanaxel42 commented on #1314
oh thats just whatever the top level is so I guess now its `starfish.data.public` but could be whatever I don't really have a preference for that

[2019-05-15 14:15] #1259 closed

[2019-05-16 17:33] dganguli commented on #1336
Hi @rfor10 thanks for the issue! So far we have considered chromatic aberration correction out of scope of Starfish, but we are now starting to re-consider :)

For now, I have more questions than answers to make sure I both understand the problem and your proposed solution. If you help me work through this then we can figure out a plan for what to do next!

1. Do I understand the problem setup cor

[2019-05-16 17:35] dganguli commented on #1336
Follow up question, I think chromatic aberration separates nicely into two problems: 1. Learning the correction factor and 2. Applying the correction factor. Your issue only addresses 2 right? Should Starfish also implement a solution to 1?

[2019-05-16 18:09] dganguli commented on #1312
@shanaxel42 this issue is related to #1283. I vote maybe closing #1283 in favor of this one? Alternative can merge #1283 in here, with a simple statement that we should better profile this part of the codebase.

[2019-05-16 18:45] shanaxel42 commented on #1312
I'm down with this, I'll close out #1283. and add some info here

[2019-05-16 18:45] shanaxel42 commented on #1283
repeat of #1312

[2019-05-16 18:45] #1283 closed

[2019-05-16 20:52] ttung commented on #1322
@zperova: short term solution is probably to build tooling to split a stitched image with overlaps.

[2019-05-16 22:31] ttung commented on #1332
`transfer_physical_coords_from_imagestack_to_intensity_table` is probably also affected.

[2019-05-17 04:13] berl commented on #1322
Sorry for chiming in so late, but this does sound really great.

a few questions/comments

- How will this relate to `AlignedImageStack`s?  Do those still exist?  Will these methods have any constraints on the alignment?
- How is a user with this kind of data going to run a pipeline on it?  heavy use of the `Combiner` and `get_images()`? before of a more "normal" pipeline?
- Will the output(s) (e.

[2019-05-17 04:38] ttung commented on #1322
@berl thanks for looking at this.  Your input is really important, so I didn't want to get started without first getting it. :)

`ImageStack`s will still be aligned on X-Y.  `FieldOfView.get_images(..)` will take a set of selections for each of r/ch/z (and these selections can be unspecified, which means "all"), and return a set of `ImageStack` objects.  Each of those will be aligned on X-Y.

Imag

[2019-05-17 17:24] #1279 closed

[2019-05-17 19:02] dganguli commented on #1121
Hi all, @ttung and I just re-visited this issue. Points 1 and 2 in my above re-articulation of the points raised in this issue, are now addressed by the proposal in #1322. Please chime in there and let us know what you think @njmei !

For Point 3, @ttung and I also believe the simplest and cleanest solution  is to have two separate experiments, with two separate recipes and codebooks. It's up to t

[2019-05-17 20:53] njmei commented on #1322
This system sounds good and looks like it should have the flexibility to deal with all sorts of interesting data arrangements.

Practically, will anything be changing for `TileFetchers` and getting external data into spacetx format? It looks like the proposed system deals with weird data organization strictly after conversion to starfish format (e.g. separation of images into AUX and PRIMARY tiles

[2019-05-17 21:04] ttung commented on #1318
Proposal:

files are to be named:

<image_type>-f<fov_number>-r<round_number>-c<ch_number>-z<zplane_number>.<image_extension>

image_type is like primary, dots, etc.
*_number: self explanatory
image_extension: has to be one of the supported image extensions, case insensitive

coordinates are to be read from a specified csv file, where the columns are filename, xmin, xmax, ymin, ymax, zmin, zmax.

[2019-05-17 21:05] ttung commented on #1322
`TileFetchers` should not be affected by these changes.

[2019-05-17 21:09] ttung opened #1361 "Support the loading of ragged images into ImageStacks"
Criteria for completion:

- [ ] ragged images should not cause ImageStack loading to fail.
- [ ] regions of the data array not sourced from `TileData` should be represented as `NaN`.
- [ ] coordinates of the data array that are not in any tile should be represented as `NaN`.

[2019-05-17 21:15] ttung commented on #1361
Criteria for completion:

- [ ] ragged images should not cause ImageStack loading to fail.
- [ ] regions of the data array not sourced from `TileData` should be represented as `NaN`.
- [ ] coordinates of the data array that are not in any tile should be represented as `NaN`.

[2019-05-17 21:21] neuromusic commented on #1121
Can we get some documentation clarifying (or better: demonstrating) the
strategy for 3?

On Fri, May 17, 2019 at 12:02 PM Deep Ganguli <notifications@github.com>
wrote:

[2019-05-17 21:24] ttung opened #1362 "Combiner Pipeline component that muxes ImageStacks"

[2019-05-17 21:26] ttung commented on #1362
Criteria for completion:
- [ ] should work automatically if ImageStacks do not have overlapping r/c/z
- [ ] should support a mux map that allows one to reassign r/c/z numbers
- [ ] should log the reassignments if they occur

[2019-05-17 21:31] njmei opened #1363 "`IntensityTable.concatenate_intensity_tables` seems oddly slow"
Hi,

I tried merging `IntensityTable`s from a small test dataset with 3 FOVs (1 round, 3 fov, 3 ch, 37 z, 2048 y, 2048 x)

The 3 `IntensityTable`s have 1707, 1040, and 241 spots respectively. I can also provide netcdf'd versions of the tables if desired.

I did:
[code]

This somehow takes a wall time of ~3 minutes.

EDIT:
[decoded_intensity_table_netcdfs.tar.gz](https://github.com/spacetx/starfish

[2019-05-18 00:12] ttung commented on #1363
Yeah, that does seem pretty bad.  tables would be really helpful.  cc: @shanaxel42

[2019-05-18 00:14] richardque opened #1365 "Error running PxPx decoding when setting normalize=True for ZeroByChannelMagnitude filter"
When running the DARTFISH notebook with:

z_filt = Filter.ZeroByChannelMagnitude(thresh=.05, normalize=True)

When calling the pixel spot decoder, it returns a value error.

Running Ubuntu 18.04.2 LTS
Python3.6
starfish-0.1.1+1.g30357c1
slicedimage-3.1.0

Code to reproduce error:

[code]

[2019-05-18 00:19] shanaxel42 commented on #1363
`overlap_strategy=OverlapStrategy.TAKE_MAX` is doing a bit of computation so it makes sense it wouldn't be as fast as just a normal concat but that does seem especially slow. I can look

[2019-05-18 00:24] ttung commented on #1365
My guess is that for this algorithm, we should a mask of all the `NaN` pixels, clear the `NaN` from the data array (just set to 0s), do the decoding, and then use the mask to restore `NaN` to the output.

[2019-05-18 15:59] rfor10 commented on #1336
**Exactly**

**Yes conceptually - what I have done is just pair beads based on nearest neighbor to find delta xy for each bead from many FOVs yielding a sparse matrix of offset(imageCoordinateX, imageCoordinateY). With our optics the offset of X is relatively independent of Y and vice versa. So ultimately the output of this step are two vectors offsetX(imageCoordinateX) and offsetY(imageCoordinate

[2019-05-18 16:08] rfor10 commented on #1336
I think that for the near term any lab that wants to try an approach like this will have to be able to fit a bunch of beads and supply that as input (sort of an acid test). Long term for the democratization of the technique it would be good to have some stock routines available.

The cost of providing a method for finding the offsets is really in dealing with the heterogeneity of the experimental

[2019-05-20 10:17] pdichiaro opened #1366 "open .nc files"
After the spot detection I do not understand how to open files (.nc); I need to visually inspect images (I would be really great if it was possible to open them with Fiji) and outputs to know if spot detection method worked.

[2019-05-20 13:29] joshmoore commented on #1322
As a side-note, use of `spacetx-writer` in these cases is based on what is (confusingly) called the `FileStitcher` API which matches your `Combiner`. You can see https://docs.openmicroscopy.org/bio-formats/6.0.1/developers/file-reader.html#file-reading-extras for more info. We've never been able to get away from it. Looking forward to what you come up with!

[2019-05-20 17:27] ttung opened #1367 "How do we incorporate ImageStacks with NaNs in the data"
Problem: One possible way to support ragged `ImageStack` objects where the cardinality of rounds/ch/zplanes are not consistent is to create the full 5D tensor, but fill the missing values with `NaN`.

One possible approach:

1. Prior to any transform/apply operation, we create a mask of all the `NaN`s in the original data.
2. Zero out all the values (or assume the average value of the nearest non-

[2019-05-20 17:55] dganguli commented on #1367
This is deeply complicated. For image processing algorithms (e.g., filtering, and segmentation) in an ideal world, we would adopt the same NaN handling behavior that the current algorithms we wrap do. However, at times, these libraries themselves struggle with what to do here.

See for example a recent skimage discussion: https://github.com/scikit-image/scikit-image/issues/1624

For a different ex

[2019-05-20 17:59] ttung commented on #1367
The issue is that if we are going to support ragged arrays in `ImageStack`, we have to put something there (and `NaN` does seem like the most reasonable thing to have there).

The alternative is to make `ImageStack` aware of which tiles are nonexistent (nothing but `NaN`), and explicitly not process those tiles.  For the sporadic `NaN` that the user is introducing, we balk.

[2019-05-20 18:18] ttung commented on #1367
Conclusion of @dganguli and my out-of-band conversation:

ImageStack needs to keep track of which tiles are nonexistent, and skip operations on them.

[2019-05-20 18:20] dganguli commented on #1367
Yeah @dganguli thought we were talking about individual pixel values, within a tile, that are NaN. That's hard. But @ttung is asking what to do when entire tiles are NaN. Which is simple, just ignore them in apply/transform operations.

[2019-05-20 19:14] ttung commented on #1366
You can load them back as an IntensityTable (`IntensityTable.open_netcdf`) and use starfish.display to visualize the images and the spots (see https://spacetx-starfish.readthedocs.io/en/stable/getting_started/loading_data/index.html?highlight=display#visualizing-data)

[2019-05-20 19:32] dganguli commented on #1365
Hmm -- I can't reproduce on my machine. I wonder if this is a versioning/os difference.

[2019-05-20 19:32] #1313 closed

[2019-05-20 19:33] ttung commented on #1366
Please let me know if this addresses your requirements.

[2019-05-20 19:38] shanaxel42 opened #1368 "Add documentation for processing multiplexed and non multiplexed assays in the same experiment"

[2019-05-20 19:38] shanaxel42 commented on #1121
closing, will be addressed with #1368

[2019-05-20 19:38] #1121 closed

[2019-05-20 20:01] richardque commented on #1365
Perhaps. I don't have a system running a different os to test it on, but the error does not seem to be consistent. Clearing output and restarting kernel and it ran error free once out of 30 tries.

[2019-05-20 20:33] #1280 closed

[2019-05-20 20:39] ttung commented on #1322
We're removing the ability to load a ragged array (i.e., an array where the cardinality of round/channel/zplane is not uniform) into a single ImageStack.  Instead, the prescribed method will be to load the data by round, and process them that way.  See the block of text that has been struck out in https://github.com/spacetx/starfish/issues/1322#issuecomment-491466070

[2019-05-20 20:40] ttung commented on #1367
We are not going to support this model.  We will instead steer users towards loading data by round.

[2019-05-20 20:40] #1367 closed

[2019-05-20 21:01] ttung commented on #1365
Are you saying it runs error free once, and then on all subsequent attempts, it fails?

[2019-05-20 21:27] dganguli commented on #1336
Ah this clarifies things immensely, thank you!

Regarding this statement:

At the end of this operation, is the dimensionality of offset(imageCoordinateX, imageCoordinateY) = [num_beads+total, 2] ?

If that's true, then I'm confused by this:

Which I think you resolve by saying this

I *think what's going on is that your offSetX is a function, f() that you've learned from running a 1-D interpolati

[2019-05-20 21:58] rfor10 commented on #1336
I think you have it figured out. Sorry for not writing it in a more clear manner. I will restate just to try to make sure we're on the same page.

the dimensionality of offset(imageCoordinateX, imageCoordinateY) = [num_beads+total, 2] I am not sure what the total is here, but it would be [num_beads, 2], and yes I am then interpolating these offsets to find two offset vectors (num_x_pixels, 1) and

[2019-05-20 23:29] richardque commented on #1365
I'm saying that, clearing and restarting the kernel between each try, it failed 10 times, ran error free once, and failed another 19 times.

[2019-05-21 13:22] dganguli commented on #1365
my current working hypothesis is that this is a versioning issue. i'm at least on the same python, starfish, and slicedimage, and have no issues (although i am on osx, not ubuntu)

since the error is in sci-kit learn, what version of sci-kit learn are you using (```pip show scikit-learn```)? i'm on 0.19.2. alternatively, can you send us the output of ```pip freeze```? or alternatively can you inst

[2019-05-21 17:13] ttung commented on #1365
@richardque I've isolated this to a linux vs osx difference.  Going to debug this further.

[2019-05-21 18:19] #1258 closed

[2019-05-22 16:54] shanaxel42 opened #1370 "Support manually-defined ROIs for cell segmentation"
# Objective

*As a user relying on manual segmentation, I want to assign spots to cells that I’ve already segmented in another annotation tool so that I can generate a spatially annotated gene expression matrix.*

## Acceptance Criteria
- [ ] User can assign spots to cells based on masks or polygons saved on disk or at a URL
- [ ] Supported formats include FIJI’s Segmentation Manager (raster), Ila

[2019-05-23 06:18] joshmoore commented on #800
I assume refactorings around and after 0.1.0 have already added enough around test functions. Closing.

[2019-05-23 06:18] #800 closed

[2019-05-23 06:19] joshmoore commented on #700
My understanding is that https://github.com/spacetx/starfish/commit/3d960e1663b02ee6c01f8236aa1190191a5d1b07 (0.1.1) covers this. Closing.

[2019-05-23 06:19] #700 closed

[2019-05-23 10:07] pdichiaro commented on #1366
Can you give me a detailed example?
I am following the instructions on this page: https://spacetx-starfish.readthedocs.io/en/stable/getting_started/loading_data/index.html?highlight=display#visualizing-data, but I do not understand if starfish.display(image) opens an interactively viewer or I have to define what image is. I usually use the CLI and I wonder if there is an easier way to open images

[2019-05-23 16:11] njmei commented on #1322
@ttung

Hmm... so stumbled upon a wrinkle while trying to figure out how to coerce starfish into converting data into starfish format on a per round basis that relates to this issue and dredges #1121 back from the grave to a certain extent as well.

**The problem:**
Starfish does not appear to be able to convert standalone rounds (that know their own round index) without resorting to significant t

[2019-05-23 18:27] ttung commented on #1322
Yes, I agree that `write_experiment_json()` should take iterables instead of the cardinality of each dimension.  You can see that `build_image()` has already been refactored to do this, and it's just a matter of finishing this work. :)

[2019-05-23 20:55] ttung commented on #1366
Unfortunately, I don't think there is a way to visualize spots & images together using the CLI.  Would you be comfortable with a python solution?

[2019-05-24 00:11] ttung commented on #1322
#1374 adds this. I needed it for something else, so it seemed pretty high-leverage. :)

[2019-05-24 16:27] #1363 closed

[2019-05-24 17:12] shanaxel42 opened #1377 "Figure out strategy for code in recipes not in pipeline steps"
There are a few examples of random bits of code in recipes that are not a part of a pipeline step. Ex. calculating thresholds in the iss SpaceTX dataset. We should figure out a general strategy of somehow incorporating code like this into a step so that it can be logged and accounted for.

[2019-05-24 17:20] #1214 closed

[2019-05-24 20:29] #1361 closed

[2019-05-24 20:30] shanaxel42 commented on #1362
@ttung do we need this anymore?

[2019-05-24 20:46] #1328 closed

[2019-05-24 21:10] ttung commented on #1362
We may or may not.  I'll punt it to 0.2.0 until someone shows up with their data formatted like this.

[2019-05-29 16:36] njmei commented on #1322
@ttung Sorry to keep adding more to your plate regarding this issue. Adding some formal examples to add to the slack convo we had yesterday:

Currently:
[code]

Some examples of things starfish conversion can't handle:
[code]
So being able specify that `rounds` are `[1, 3]` is awesome! But `chs` in `build_image()` need to be a function of round as `chs` cannot be both  `[0, 1, 2]` and `[0, 1, 2, 3

[2019-05-29 16:38] ttung commented on #1322
We just need to accept a generator that produces (fov, round, ch, z).

[2019-05-30 07:15] #1365 closed

[2019-05-30 22:18] #1302 closed

[2019-05-31 14:33] ambrosejcarr commented on #851
@shanaxel42 we decided we'd forego analysis of biological results for the time being because we don't have a good handle on segmentation yet. This means the last step is to publish the `DecodedSpots` somewhere. I don't know where those are so I've assigned this over to you.

[2019-05-31 14:34] ambrosejcarr commented on #850
@shanaxel42 we decided we'd forego analysis of biological results for the time being because we don't have a good handle on segmentation yet. This means the last step is to publish the `DecodedSpots` somewhere. I don't know where those are so I've assigned this over to you.

[2019-06-03 19:07] njmei opened #1388 "Inplace conversion to Starfish format seems slow"
A 2 round, 5 channel, 29 fov, 44 zplane mini-experiment takes about 30 minutes to convert to starfish format. This is likely to be problematic for our pipeline especially if we want to be converting + analyzing data on a per round basis as soon as it comes off the microscope.

It seems like the majority of time is still being taken up by `write` calls by `slicedimage` even for inplace conversion.

[2019-06-03 19:08] #851 closed

[2019-06-03 19:34] ttung commented on #1388
What does `format_survey_data.py` do?

[2019-06-03 19:52] njmei commented on #1388
Basically it reads in our metadata format and organizes it so that starfish can fetch tiles. Then it calls `write_irregular_experiment_json`. There source for it is:

[code]

[2019-06-03 20:16] njmei commented on #1388
It's totally possible that conversion is as fast as it can be. I'm just curious whether it could be faster. So I should probably change the subject name.

[2019-06-03 21:56] ttung commented on #1388
I verified that your tile fetchers don't need to return any sane data.  That should shave 900+ seconds from your profile.  As long as it returns correctly shaped data, the actual data is discarded.

I'm codifying this expectation into a test.

[2019-06-03 22:01] njmei commented on #1388
Oh, so instead of the `tile_data` `FetchedTile` method returning `skimage.io.imread()` (like it currently does) just have it return a dummy of some sort?

[2019-06-03 22:11] ttung commented on #1388
Yes, any np array of the correct shape and dtype should work.

[2019-06-03 23:02] njmei commented on #1388
Hmm... I wonder if that will give significant time savings. Even if you pass bogus data, it will still get [sha256 hashed](https://github.com/spacetx/slicedimage/blob/d8db571fd8e17186271f166992e990084cc48ca5/slicedimage/io.py#L331) an extra `num_rounds * num_fovs * num_chs * x_dim * y_dim` times.

[2019-06-03 23:06] ttung commented on #1388
I am somewhat skeptical that the extra sha computation will cost that much time.  It's far more likely that the extra encoding into tiff costs way more time.

[2019-06-03 23:07] ttung commented on #1388
In any case, can you just give it a whirl?  Should be an easy change. :)

[2019-06-03 23:51] njmei commented on #1388
Bizarrely, things got worse?

Here's what I did:
[code]

zipped cProfile output file:
[starfish_conversion_2.prof.tar.gz](https://github.com/spacetx/starfish/files/3249870/starfish_conversion_2.prof.tar.gz)

snakeviz:
![Screenshot from 2019-06-03 16-49-37](https://user-images.githubusercontent.com/43766899/58841658-c8a6e600-861f-11e9-95b5-6639bcba6e04.png)

[2019-06-04 13:32] neuromusic opened #1391 "Add note to examples in docs that the pipelines are tied to a particular lab but not a particular assay"
We need to make it clear to users that they don’t *have* to use the example pipeline that matches the name of their assay.

Is there a better way to title the example pipelines to make this clear? Should “<assay> Example” become “<lab’s> <assay> Example” or something of the sort? Or "<Citation> Example"?

[2019-06-04 20:43] ambrosejcarr opened #1392 "ExpressionMatrix construction propagates "nan" spots"
## Issue
Decoding uses "nan" as the placeholder for a gene id that does not decode. When Expression Matrices are constructed, we propagate "nan" as a gene value, which typically has a high count, as usually about half of the spots do not decode.

## Proposal
"nan" should not be propagated, but should be recorded as a metadata that reflects the number of spots in a cell that did not decode.

[2019-06-05 14:01] ambrosejcarr commented on #1314
I am downloading some slide-seq data to work with. Based on the above proposal, I intend to put it in:

`starfish.data.public/published/rodriques_science_2019_slide-seq_perkinje-cerebellum/20190605/<data>`

The "datasets" corresponds to `<first-author-last-name>_<science>_<year>_<assay_type>_<tissue-type>`

How does this sound for the "datasets" schema?

[2019-06-05 16:23] shanaxel42 commented on #1314
scheme sounds fine but it should go in `starfish.data.published`, not `starfish.data.public`, the former is the new bucket

[2019-06-05 18:37] ambrosejcarr commented on #1288
Here's a little manifesto about deleting the CLI. Please poke holes in it. I think if the team generally agrees with this then we should prioritize removing it.

## Background

We've struggled to get a UX study off the ground to address this question. However, the decision to support the CLI adds substantial complexity to both internal development and external contribution. It forces us to generat

[2019-06-05 23:59] shanaxel42 commented on #1288
I'm pretty supportive of this. I think it would definitely decrease a lot of code complexity and barrier of entry for contributors. A few things:

 `Shift any needed boilerplate (e.g. logging) from pipeline component to AlgorithmBase`  the logging is already in AlgorithmBase

We would also have to remove all the nice runner code @ttung wrote, although I think your point about data generators being

[2019-06-06 00:00] ambrosejcarr commented on #1288
Oops. Thanks for the clarification.

😢

👍

[2019-06-06 00:45] berl commented on #1288
does this have any impact on scalability? I always thought one argument for the  CLI was that it provided some value for integration with existing pipeline/workflow tools. every time I talk about pipelines it eventually comes around to bash scripts, make, etc. and I think that's where the CLI would be helpful.

Just to be clear: we're definitely in the API camp and we (ok, probably @njmei ) will m

[2019-06-06 00:56] ambrosejcarr commented on #1288
If you mean performance, API  = runner >> CLI I think. There should be no degradation.

Otherwise you nailed all the reasons we want a CLI or runner in the longer term. The issue is that it introduces a lot of dev work while we're looking for high velocity in feature addition, and it presents a barrier to new contributions.

This is my hypothesis. *Adding the cli back later in a way that presents

[2019-06-06 01:59] ttung commented on #1318
codebook is still the hardest part of this, IMO...

[2019-06-06 02:18] ambrosejcarr commented on #1318
There are a few formalisms for codebooks that we might want to support conversion from:

csv where each row is `<gene>,ACCGTC` where each nucleotide is taken to be a sequential round, and a mapping is provided from nucleotide to channel.

csv where each row is `gene,0010134` where each number represents a sequential round, and the numbers are taken to be the channels.

[2019-06-06 02:23] ambrosejcarr commented on #1318
I don't have a good solution for codebooks that aren't 1-hot. Fortunately 1-hot appears to be very common.

[2019-06-06 05:13] ttung commented on #1288
One key advantage of the CLI / recipe interface is that it enforces us to structure everything as `AlgorithmBase` implementations.  Once we remove this restriction, people can just write a bunch of spaghetti python code that slice and dice the data however they want.  If that is the direction we go in, starfish mostly becomes a set of input and output file formats.  It's likely okay for starfish t

[2019-06-06 17:12] ttung commented on #1318
I would prefer just doing:

[code]

[2019-06-06 20:22] neuromusic commented on #1318
@ttung so each column defines a coordinate?

I would find the tidy version more intuitive, where each row corresponds to a single value in the codebook...

[code]

the xarray `to_dataframe()` method would return the data formatted like this (except with zero values, as well). see http://xarray.pydata.org/en/stable/pandas.html#dataset-and-dataframe

[2019-06-06 20:37] ttung commented on #408
@shanaxel42  isn't this done?

[2019-06-06 21:04] neuromusic commented on #1318
example roundtrip from codebook to csv and back (technically to xarray on the return) https://gist.github.com/neuromusic/87267d7e20279585517c8cd46a0c5601

[2019-06-06 21:48] ttung commented on #1318
correct.  for one-hot encodings, it's very easy to sanity check (sums across rows or columns should always be 1)

that's a lot more "rows".  riskier to get it wrong, potentially?  not sure.

[2019-06-07 18:29] shanaxel42 commented on #1288
Not sure we really reached a consensus on this yesterday. @kevinyamauchi and I chatted a bit after the meeting as well so I wanted to propose a path forward. In general I think we all agree that the goal of this idea was to reduce barriers for contributing algorithms to starfish. But the discussion also raised valid concerns about it relaxing some of the api restrictions that enforce structure ins

[2019-06-07 18:35] shanaxel42 opened #1396 "Create component for learning scale factors"
We need some sort of mechanism for learning scale factors from an Experiement. Ideally the output of this method should be a multiplication matrix so that we can take advantage of the ElementWiseMultiply class @kevinyamauchi wrote to apply the scale factors to an Imagestack

[2019-06-07 18:37] shanaxel42 commented on #1182
closing this in favor of #1396. Once the scaling mechanism is defined we should use that in the merfish notebook to learn the scale factors then apply the result with ElementWiseMultiply

[2019-06-07 18:37] #1182 closed

[2019-06-07 19:05] ttung commented on #1288
For what it's worth, recipes do manage memory slightly better than python scripts.  If it knows that a block of data is not going to be used any more during the recipe's execution, it will discard that data.  We could build even better memory management strategies if we get rid of in-place, though that could also inflate memory usage.

[2019-06-07 23:09] neuromusic opened #1397 "one set of example pipelines"
We currently have two sets of example pipelines...

1. Notebooks in the `notebooks/` folder of the repo
2. sphinx-gallery examples in https://spacetx-starfish.readthedocs.io/en/stable/usage/data_processing_examples/

These should be merged.

Proposal:

All notebooks in `notebooks` should be converted into sphinx-gallery scripts & dropped into `docs/source/_static/data_processing_examples`

[2019-06-10 19:08] ambrosejcarr commented on #1396
Given the simplicity of these matrices (2d, size of channels * channels) it might make sense to make this a .csv file, just to make it more accessible.

[2019-06-10 19:54] shanaxel42 opened #1398 "Remove the CLI"
After discussions

[2019-06-10 19:57] shanaxel42 opened #1399 "Remove in place computation"

[2019-06-10 19:58] shanaxel42 commented on #1288
#1398

[2019-06-10 19:58] #1288 closed

[2019-06-11 22:59] #1145 closed

[2019-06-13 17:11] njmei opened #1404 "parso security vulnerability"
One of my repos with starfish as a requirement was giving me a security vulnerability warning this morning. Oddly doesn't seem like that warning was sent to this project even though the library requirement is in the [REQUIREMENTS-STRICT.txt](https://github.com/spacetx/starfish/blob/master/REQUIREMENTS-STRICT.txt)

Looks like no fix is out yet, but just something to keep an eye on.

Link to the CVE

[2019-06-13 20:33] kevinyamauchi commented on #1294
@JennyVoPhamhi and I are hoping to use the osmFISH data set for some of our work. I chatted with @ambrosejcarr and @shanaxel42 today and it sounds like it's still a work in progress. We understand you have a lot in the queue, I just wanted to make a note here that we'd be psyched to use the data once it's ready!

[2019-06-13 20:36] pdichiaro commented on #1366
I opened imageStack and intensityTable using starfish.display to visualize the images and the spots as you explained me.
I was wondering if it is possible to export imageStack and spots together. It would be very useful to export them in a format like TIFF that can be opened with Fiji (for example using the method to_multipage_tiff that I can easily use for ImageStacks)

[2019-06-13 21:15] shanaxel42 commented on #1314
starfish.data.spacetx/ now contains all the current spaceTX data and results we have in an organized structure. The structure as well as the commands I used to copy the datasets from their original locations is described here
[code]

[2019-06-13 21:34] shanaxel42 opened #1405 "Create organized starfish.published and organized starfish.unpublished buckets"
Go through starfish.data and put most recent versions of test and non test data in corresponding organized structure.

[2019-06-13 22:00] shanaxel42 commented on #408
By this are you referring to padding? Because that is not done

[2019-06-13 22:03] shanaxel42 opened #1407 "Add pad/crop pipeline component"
I order to properly register images, a preprocessing step of either padding or cropping your stack to make may be required

[2019-06-13 22:15] #1314 closed

[2019-06-13 22:18] shanaxel42 commented on #617
The place to upload the processed mouse panel dataset is here starfish.data.spacetx/smFISH/mouse/contributer_results

[2019-06-13 22:25] njmei commented on #1407
This would definitely be nice to have!

1) Will it be possible to pad an `ImageStack`, do spot-finding, and then 'crop' the resulting spot table (`IntensityTable`)?

2) Will this essentially be bringing [numpy's pad](https://docs.scipy.org/doc/numpy/reference/generated/numpy.pad.html) to starfish?

[2019-06-14 16:24] shanaxel42 commented on #1407
The way I has originally been thinking about it was that someone would pad/crop their list of alignedImagestacks so that they could be transformed into one object instead of a list. And then maybe run that object through registration. But your use case sounds equally valid! I was planning on using numpy.pad so I will try and build it in a way that can be used for both use cases

[2019-06-14 16:44] njmei commented on #1407
I could see changing the dimensions of `ImageStacks` potentially opening up a can of worms so if it doesn't work out, no worries.

[2019-06-14 17:36] #1275 closed

[2019-06-14 19:45] ttung commented on #1366
We don't support such an export mechanism.  Could you explain your use case for this (i.e., what does this solve that napari doesn't currently do), and what the expectations for behavior might be?  Would the spots detected on a given RCZ be shown on other RCZ? (RCZ = round-channel-z)

[2019-06-14 19:45] ttung commented on #1366
Also cc: @neuromusic

[2019-06-14 19:53] ttung commented on #1407
Are there other edge effects that arise from padding with zeros?

The biggest challenge here is probably that we'll be doing a _lot_ of copying.

[2019-06-14 20:40] shanaxel42 commented on #1261
@ambrosejcarr this is just a warning, the actual clipping still successfully returns. Still want me to investigate?

[2019-06-14 20:52] pdichiaro commented on #1366
Napari works very well for the visually inspection of  ImageStack and intensityTable and so to set up the process of spot detection. I would like to export that result in a Tiff format that can be opened with Fiji as well. I think it would be very useful to have a processed image with the identified mRNA spots (it would really nice to have it after the segmentation as well) which can be associated

[2019-06-14 21:21] ambrosejcarr commented on #1261
Yeah, it makes all the values Nan. Sorry for the lack of detail in the issue.

[2019-06-14 21:24] ambrosejcarr commented on #1366
We support exporting the imagestacks, but not conversion of the IntensityTable insto something FIJI understands.

See the following link for imagestack export: https://github.com/spacetx/starfish/blob/master/starfish/core/imagestack/imagestack.py#L1013

[2019-06-17 19:04] shanaxel42 commented on #1404
@ttung enabled auto security fixes so we should get one when its available!

[2019-06-17 19:04] #1404 closed

[2019-06-17 19:07] shanaxel42 commented on #1399
@berl @kevinyamauchi @njmei  would this be ok with you guys?

[2019-06-17 19:09] shanaxel42 commented on #617
We've uploaded the current results from groups to the bucket `starfish.data.spacetx` any new results should also be uploaded to the corresponding groups folder within that bucket.

[2019-06-17 19:09] #617 closed

[2019-06-17 19:38] njmei commented on #1399
Err which in-place computation are we talking about?

Is the the `in_place` arg used in the following?

[code]

[2019-06-17 19:39] shanaxel42 commented on #1399
Yup! we're talking about removing the ability to do this because it makes recording provenance much harder.

[2019-06-17 19:44] njmei commented on #1399
Hmm... I guess we will just need to be careful about memory usage?
[code]

[2019-06-18 17:30] pdichiaro opened #1411 "ExpressionMatrix methods"
After target assignment I created an expression matrix (a 2-dimensional cells x genes tensor).

<img width="589" alt="Screenshot 2019-06-18 at 19 23 41" src="https://user-images.githubusercontent.com/50377927/59705626-0e0e0a80-91ff-11e9-83cd-04fe9d0f25d2.png">

I need to save it for the following usage with single-cell analysis software packages but ExpressionMatrix methods return these kinds of e

[2019-06-18 21:56] shanaxel42 commented on #1411
Sorry about this @pdichiaro I've opened a PR to fix these issues. Another thing to note is that when saving as a anndata file the filename must end in ".h5" so `matrix.save_anndata('expression_matrix2.h5')`  will work after my changes land.

[2019-06-19 07:34] #1388 closed

[2019-06-19 16:27] njmei commented on #1388
@ttung Hey Tony, I had tried your suggestion, but it did not appear to make things any faster...

[2019-06-19 16:40] pdichiaro commented on #1411
please let me know when these issues will be fixed. Thanks.

[2019-06-19 16:48] pdichiaro opened #1414 "create ImageStack from IntensityTable and SegmentationMaskCollection"
Is it possible to create ImageStack from IntensityTable and SegmentationMaskCollection?

I was wondering if it is possible to use starfish.ImageStack.from_numpy.

<img width="1776" alt="Screenshot 2019-06-19 at 18 43 08" src="https://user-images.githubusercontent.com/50377927/59784173-1bd89400-92c2-11e9-87b1-c744cd8617c9.png">

[2019-06-19 18:31] ttung commented on #1414
It would not be possible to go back to ImageStack once you move to spot space (the exception is if you are using pixel decoding, which technically does retain all the data to go back to image space).

[2019-06-19 18:31] ttung commented on #1414
Could you describe the use case that might require this?

[2019-06-19 18:33] #1411 closed

[2019-06-19 18:36] ttung commented on #1388
Is this the same data set?  I'm a bit suspicious since the imsave portion should be the same, but the new profile is 670s while the old profile is only 339s.

[2019-06-19 19:22] njmei commented on #1388
Yeah exact same dataset. Very odd, I know...

[2019-06-19 19:52] shanaxel42 commented on #850
results uploaded here! https://console.aws.amazon.com/s3/buckets/starfish.data.published/MERFISH/20181005/starfish_results/?region=us-east-1&tab=overview

[2019-06-19 19:52] #850 closed

[2019-06-20 11:02] pdichiaro commented on #1414
I need to visually inspect Segmentation.Watershed to see which threshold to apply to nuclei and stain images. I was wondering if there is a function that returns the outline of segmented cells. Starfish.display does not work in this case.

After starfish.spots.TargetAssignment.Label I need to visualize the resulting IntensityTable to see if it works and all dots that are only contained within cell

[2019-06-20 17:37] pdichiaro opened #1416 "Decoded tables"
starfish.spots.Decode and starfish.spots.AssignTargets  return IntensityTables as outputs. Is it possible to create decoded tables stored as .csv files tha can be read by pandas in Python and in R ?

[2019-06-24 16:53] ttung commented on #1416
`to_mermaid` effectively is a gzipped csv file.  Can you try that to see if it produces the output you want?

[2019-06-24 18:03] ttung opened #1420 "parallelize tile writing"
This is a follow on to https://github.com/spacetx/starfish/issues/1388

[2019-06-24 18:26] ttung commented on #1399
Yes, it does increase worst-case memory consumption. :(

[2019-06-25 16:36] shanaxel42 opened #1422 "Visualize Segmentation mask with original Images with starfish.display"
Addresses needs in #1414

[2019-06-25 16:37] shanaxel42 commented on #1414
@dganguli

[2019-06-25 19:17] ambrosejcarr commented on #1416
Hi @pdichiaro. I believe that `IntensityTable.to_decoded_spots` should do what you're looking for. I'm going to close this, but if this doesn't solve your problem feel free to reopen it and we're happy to discuss further.

[2019-06-25 19:17] #1416 closed

[2019-06-25 20:02] njmei opened #1423 "[Question] Using Starfish with a task queue/scheduling framework"
Hi all,

So I've been looking into running Starfish with a task queue and scheduling framework combo (maybe something like "Celery + Airflow") in order to extend Starfish so that it can do things like:

- Preprocess and analyze imaging rounds within an experiment in near real-time as they come off the microscope
- Deal more seamlessly with hybrid type experiments (MERFISH + smFISH)
- Easily create

[2019-06-25 20:41] ttung commented on #1332
1. if you have a pixel range of (0, 4), corresponding to physical coordinates of (0.0, 0.4), the actual valid range for centroids is (0, 4.9999..).  `interp` will break (return NaN, I believe) if you exceed the range of the original source.  Possible solution: extend the pixel->physical coordinates array by one element; in this case, (0, 5), and `interp` in that range.

2. when a third-party libra

[2019-06-26 23:51] ttung commented on #1423
Yes, `subprocess` is probably the best way to do it.  Do you know why they use multiprocessing for workers?  That just seems fragile.

We did a pretty deep exploration of dask; we found some serious issues with dask+xarray.  While we mapped out a path forward, it is pretty resource intensive (i.e., it likely won't be done for a while).

Does the cli solve any problems that a standalone python scri

[2019-06-27 00:51] shanaxel42 commented on #1423
Another thing to note is that setting `n_processes=1` in Imagestack.apply() disables multiprocessing. So that could be another route to take.

[2019-06-27 18:47] #1294 closed

[2019-06-27 20:30] #1303 closed

[2019-06-27 22:25] neuromusic commented on #1303
ty @shanaxel42 !

[2019-06-28 00:22] njmei commented on #1423
Thanks for the replies! Not s

[2019-06-28 00:22] #1423 closed

[2019-06-28 19:56] #1312 closed

[2019-07-01 20:49] dganguli commented on #1414
Hi @pdichiaro, @ttung is correct in that there is no clean way to create an ImageStack from an IntensityTable and SegmentationMaskCollection. We do not support this functionality.

However, for your use case, there is currently a PR under review (https://github.com/spacetx/starfish/pull/1430) that lets you use Starfish.display to view segmentation masks on top of your imaging data. Starfish.displa

[2019-07-01 21:26] njmei opened #1432 "[Possible Bug] IntensityTable `concatenate_intensity_tables()` 'TAKE_MAX' strategy does not appear to be working quite right"
Some quick and dirty test code I wrote:

[code]

The weird result:
Black Triangles = spots in `concatenated`
Other colored shapes = spots associated with a given color quadrant

![Screenshot from 2019-07-01 14-13-58](https://user-images.githubusercontent.com/43766899/60467229-e5c4d980-9c0a-11e9-9aff-602136459d59.png)

The center quad overlap area shouldn't have that blue square or yellow star surv

[2019-07-01 21:27] ttung commented on #1432
@shanaxel42

[2019-07-01 21:53] shanaxel42 commented on #1432
I think your problem may be with the way you're setting up the physical coordinates on your IntensityTables using `np.random.uniform` doesn't make sense, since we're expecting the physical coordinates to be in order and use where < > logic to do the overlap comparisons.

[2019-07-01 21:56] berl commented on #1432
thanks @njmei for this.  I do expect the multi-overlap areas to be potentially inconsistent because the tile with the highest number of spots in the multi-overlap area might be different than the tile with highest number of spots in a pairwise overlapping area.  This just comes with the territory of building the results out of pairwise take_max operations and it's a known limitation.

I also think

[2019-07-01 21:57] njmei commented on #1432
@shanaxel42 Thanks for the speedy reply! I'll try a `lexsort` of the `x,y` coordinates and see if that resolves the issue!

[2019-07-01 22:04] shanaxel42 commented on #1432
You know what @njmei I think you've uncovered a huge flaw in the overlap code in that I'm not first sorting the xarrays by physical coordinates and just assumed they would be in order. But I don't think that's actually the case @ambrosejcarr?

[2019-07-01 22:09] dganguli commented on #1414
I'll close this for now, but please re-open if this does not solve your problem!

[2019-07-01 22:09] #1414 closed

[2019-07-01 22:11] shanaxel42 commented on #1432
ok so sorry @njmei I take back my previous comment about `np.random.uniform`.  The order of the coords shouldn't matter and the overlap logic should still work. Which means I need to keep looking at your code, sorry!

[2019-07-01 22:13] njmei commented on #1432
@shanaxel42 oh, well if it's helpful this version sorts by y_values then x_values but the problem still exists

[code]

[2019-07-02 17:57] shanaxel42 commented on #1432
ok! Have done a bit more deep diving into this and I believe I understand what's happening. So one important thing to note is that when defining the boundaries of an IntensityTable during the overlap code I use the min/max values for x and y. So even though you may create an IntenistyTable with x coords in a range from 0 to 3, the min max values won't necessarily be 0 and 3. They are the min/max a

[2019-07-02 19:08] njmei commented on #1432
Gotcha, many thanks for digging into this @shanaxel42! This is a bit different from how Brian had described this functionality to me...

I replotted the example plot using the x,y min and max values to define boundaries as you described:

![Screenshot from 2019-07-02 11-57-31](https://user-images.githubusercontent.com/43766899/60539229-08b1c500-9cc1-11e9-9adb-6cb47587a3b6.png)

It's clear now that

[2019-07-02 21:19] pdichiaro commented on #1370
In some cases I need to segment manually. I think it will be really useful to import ROIs as segmentation mask from ImageJ/Fiji.

[2019-07-02 23:41] ambrosejcarr commented on #998
Hi @sethb3744 We intend to overhaul segmentation in the near future to enable users to do some of the things you've requested. We'd like to make it possible to separate the creation of the image and mask from the actual watershed segmentation by adding a few more filters to starfish (morphological operations, thresholding) and allowing users to combine multiple ImageStacks, for example, to create

[2019-07-03 00:01] ambrosejcarr commented on #1324
There is some good information on fixing over-segmentation in #998 from @sethb3744

[2019-07-03 18:09] njmei commented on #1432
@shanaxel42 On a related note, does the `TAKE_MAX` strategy make sure to only apply itself on a `per round` basis?

I see some discrepancies in the sum of `features` in `IntensityTables` when I treat rounds as separate 'Starfish experiments' vs. when I treat them as part of a 'Starfish experiment'.

Example:

[2019-07-03 18:25] njmei commented on #1399
So just one datapoint, but I tried pre-emptively removing `in_place=True` but at least on my dev workstation which only has 32 GB of RAM, this proves to be fatal (`bus error (core dumped)`) for running even fairly small test datasets.

Restoring `in_place=True` allows things to run to completion without core dumps.

If `in_place` **absolutely** needs to go that's fine, just give me heads up as I w

[2019-07-03 18:26] ttung commented on #1399
Did you delete the intermediate ImageStacks?

[2019-07-03 18:27] njmei commented on #1399
I did not, I thought Python GC should be smart enough to do that automagically?

[2019-07-03 18:29] shanaxel42 commented on #1432
the overlap code doesn't do anything special on a per round basis. It just compares two intensityTables based of physical coords. I'm guessing that the difference in spots has to do with the spot finding difference @ambrosejcarr mentioned this morning, the max_proj strategy?

[2019-07-03 18:41] njmei commented on #1432
I guess what I'm wondering is:
I see functions like `remove_area_of_xarray()` and `sel_area_of_xarray()` that select portions of the xarray based on `xc, yc, and zc` coordinates, but wouldn't that also be selecting **across** rounds in the xarray as well? Maybe it doesn't as I don't understand xarray super well...

[2019-07-03 18:41] ttung commented on #1399
If you don't delete the variable, it's a reference that the GC can't touch.

[2019-07-03 18:46] shanaxel42 commented on #1432
You understand it right, it selects/removes across the rounds. But maybe that's not the functionality you're looking for? The TAKE_MAX method was written specifically for you guys so if it's not working as expected that's completely my bad in misunderstanding your requirements.

[2019-07-03 18:56] njmei commented on #1432
I think having any overlap strategy select/remove across rounds will result in overeager removal of spots. Not sure scientifically if this is a big deal, but this definitely would explain why I get discrepencies in number of `IntensityTable` features when I process each round separately as its own experiment vs when I process rounds together as part of an experiment...

CC: @berl

[2019-07-03 23:21] richardque opened #1435 "multiprocessing pool processes spawned within combine_adjacent_features persist till parent process terminates"
When running my DARTFISH pipeline for multiple FOVs within an experiment, I noticed that multiple processes would continue to spawn with each additional FOV that was processed. I believe I tracked down the culprit to _create_spot_attributes within combine_adjacent_features.py, lines 325-335, a multiprocessing pool is called but doesn't seem to have a termination. Moving it within a with statement

[2019-07-04 00:00] ttung commented on #1435
This is a bug.  Thanks for the report!

[2019-07-08 18:31] ttung opened #1438 "Useless error message when loading a ragged image"
Looks something like this:

[code]

[2019-07-08 21:15] shanaxel42 opened #1439 "When in_place=True the return value of a function should be None."
This was the resolution of the in_place remove? discussion. To prevent variable confusion.

[2019-07-08 21:15] shanaxel42 commented on #1399
closing in favor of #1439

[2019-07-08 21:15] #1399 closed

[2019-07-09 00:27] ttung commented on #1332
@shanaxel42 and I had a long conversation about this today, and we think there are basically two options:

# Example:
- 5x5 image
- center pixel is lit
- physical (xmin, xmax) is (0, 10)

# Option 1
## Rules
- Pixel's origin (0, 0) is at the center of a pixel
- A tile's physical min coordinate is the left/top extent of the tile, and the physical max coordinate is the right/bottom of the tile.

##

[2019-07-09 00:43] neuromusic commented on #1332
Here's how ITK handles physical coordinates:

![image](https://user-images.githubusercontent.com/1245615/60851353-7aee4200-a1b8-11e9-8e9c-9394ea46ee46.png)

/via https://simpleitk-prototype.readthedocs.io/en/latest/user_guide/plot_image.html

[2019-07-09 00:45] ttung commented on #1332
@neuromusic If I read this correctly, this is basically option 1.

[2019-07-09 00:50] neuromusic commented on #1332
@ttung basically, yes. the only piece I'm not sure about is whether the array in your doodle should be instantiated with `x_min, x_max = 0, 10` as in your assumptions or `x_min, x_max = 1, 9`, in which case x_min and x_max do not represent the full extent of the image, but the physical coordinates that correspond to the min and max pixel coordinates

[2019-07-09 01:06] neuromusic commented on #1332
I would expect to be able to call `min` on an xarray coordinate and get the same value that I passed in as the "min" when I instantiated it.

For example:
[code]

[code]

[2019-07-09 05:11] ttung commented on #1332
Ah yes, this is your twitter question.

I ruled that particular option out because both @kevinyamauchi and @berl requested that x_max - x_min = pixel_size * n_pixels.

[2019-07-09 13:18] neuromusic commented on #1332
awesome. let's just make it clear in any documentation that these values represent the physical extent of the images, and NOT the min and max of the physical coordinates for the resulting xarray. I like your doodle... it makes this clear.

[2019-07-09 13:33] ambrosejcarr commented on #1332
Basically, we need the doodle to be rewritten in illustrator and added to the documentation :-)

I'm not as deep into the nuance of either option and don't have strong opinions about which we pick. If I'm understanding things correctly, our users want Option 2. Do we feel confident moving forward with that plan?

[2019-07-09 14:09] ambrosejcarr commented on #1370
@pdichiaro would you be willing to send us an ROI file and paired image that you'd like to have us import? Any example data will do, it needn't be image-based transcriptomics. I'm willing to test out imports of them. If this works, you can send the data to starfish@chanzuckerberg.com

[2019-07-09 16:36] berl commented on #1432
Yeah, if it's done across all rounds, this strategy will result in some inconsistent results that we should avoid. This is probably on me- I should have been more careful when I first described this issue!

The alignment within a round is assumed to be perfect here so all channels within a round can be treated together, but each round can have a different `xc,yc` offset, so they can't all be taken

[2019-07-09 17:05] ttung commented on #1332
Originally, our users (as defined by @kevinyamauchi and @berl) wanted Option 2.  We didn't understand the implications until we spent some time exploring the issue, but I'm hoping that by making them explicit, we can make a reasoned choice.

[2019-07-09 17:14] neuromusic opened #1440 "submit starfish for review with JOSS"
In order to get feedback on our documentation and promote starfish, we should consider submitting to JOSS: https://joss.theoj.org/

Reviews at JOSS emphasize best practices in open source scientific software: functionality, documentation, tests, continuous integration, and a license. As far as the submission goes, there is very little work to do beyond the work we've already done.

Description of

[2019-07-09 17:25] neuromusic commented on #1332
This is an area where I think we should strive to conform with established standards in similar & associated tools.

When viewing the "Option 1" data with holoviews (which probably has the best support for visualizing xarray data), the labels are as expected:

![image](https://user-images.githubusercontent.com/1245615/60909715-94d56680-a244-11e9-9721-06275bbb0ca6.png)

[2019-07-09 22:50] shanaxel42 commented on #1432
@njmei and @berl but I thought you guys were processing per round? I think it makes sense to keep the take_max strategy simply "take the max of the two intensity tables" doing something more complicated like parsing through each round I think would call for a different strategy.

[2019-07-09 23:27] #1435 closed

[2019-07-10 17:28] njmei commented on #1432
@shanaxel42

Yes, it's definitely true that we're aiming for per-round processing. But we will need the ability to also do full experiment processing simply because there will probably be situations where already processed datasets will need to be revisited with tweaks to preprocessing/spotfinding hyperparameters (or maybe needing new algorithms applied).

This is also why having different results

[2019-07-10 17:34] kevinyamauchi commented on #1332
Thanks for all of this great discussion everyone! After the doodles and discussion, I now think Option 1 is the best path forward. I agree with @neuromusic that aligning with the established standards is a priority, as it makes the data easier to use the data with other tools and it is more intuitive for new users. Also, I like that `x_max - x_min = pixel_size * n_pixels`.

[2019-07-10 18:40] berl commented on #1432
@shanaxel42  would iterating over rounds and doing the `TAKE_MAX` for each round really be that bad?  There's definitely the possibility of confusion if people expected the other behavior, so I'd be fine with a flag for `per_round` max.  @njmei has elucidated our fundamental ask here- we want the results from per-round processing and all-at-once processing to be the same.

[2019-07-10 18:59] #1318 closed

[2019-07-10 19:58] ambrosejcarr commented on #1432
When we figure out the difference, I think it would be a good idea for our tests to check for this.

[2019-07-10 21:52] ambrosejcarr commented on #1370
@pdichiaro thanks for the sending the data. the `read-roi` package appears to load the rois you've linked without difficulty. I'm not broadly familiar with the types of ROIs that the ImageJ ROIset supports, but reading the package's code it appears that it translates each of the ROIs into a polygon. Is this consistent with your understanding of how things should work?

@shanaxel42 @kne42 @ttung op

[2019-07-10 22:20] ambrosejcarr commented on #1432
@shanaxel42 would iterating over rounds and doing the TAKE_MAX for each round really be that bad? There's definitely the possibility of confusion if people expected the other behavior, so I'd be fine with a flag for per_round max. @njmei has elucidated our fundamental ask here- we want the results from per-round processing and all-at-once processing to be the same.

Upon reflection, am I correct t

[2019-07-10 23:19] ambrosejcarr opened #1442 "Odd behavior in watershed `min_distance`"
I played around with watershed's `min_dist`. The notebook starts with the skimage watershed tutorial for reference. Note in particular the number of masks that are output by the various min_distance parameters.

[code]

## Here's the skimage watershed tutorial

[code]

[code]

    <matplotlib.image.AxesImage at 0x14e8ee5c0>

![output_3_1](https://user-images.githubusercontent.com/5239152/61011136-

[2019-07-11 14:32] zperova opened #1443 "Script to rename starfish output files to match HCA DCP ingest requirements."
As an HCA DCP wrangler, I would like to have an ability to rename starfish output files in bulk to match ingest requirements to enable submission of imaging datasets to the DCP.

Contributors tend to store files in a directory structure where the top folder is named by the imaged_specimen ID and contains all the Starfish output files.
For example:
Folder `Image_specimen_01` contains files: `experi

[2019-07-11 14:32] zperova commented on #1443
@ttung could you please help with this?

[2019-07-11 15:14] dganguli commented on #1442
what's the figure produced by ```ws.show```? the starfish watershed segmentation algorithm is doing a lot more than the wrapping of the skimage watershed algorithm. the show method exposes, visually, all the underlying computations and helps diagnose where things are going awry.

[2019-07-11 18:06] neuromusic opened #1445 "validate ragged array support"
to validate that #1322 and #1421 are meeting the needs for ragged array support...

- [ ] @ttung to follow up with SC
- [ ] osmFISH data for SpaceTx converted

[2019-07-11 21:29] ambrosejcarr commented on #1442
Sent separately: the problem appears to be in marker construction.

[2019-07-11 21:36] ambrosejcarr opened #1446 "Harmonize apply and reduce"
`split/apply/reduce/combine` are common, related frameworks that users expect to work harmoniously with standard APIs

Starfish currently has:

1. `starfish.Filter.reduce` which takes a string reference to a function and module and reduces the dimensionality of an input `ImageStack`.

2. `starfish.ImageStack.apply` which takes a callable and applies it to chunks of the `ImageStack`, without changi

[2019-07-11 23:29] ttung commented on #1446
`apply` should be a filter (in addition to being an instance method).  reduce as a classmethod of ImageStack makes no sense.

[2019-07-11 23:50] ambrosejcarr commented on #1446
Cool with me, my requirement here is just consistency between the two.

[2019-07-12 22:33] ttung commented on #1307
Basically complete.  see https://github.com/spacetx/spacetx-biohub-writer

Missing documentation.

[2019-07-13 19:11] neuromusic commented on #1296
If we decide to support Windows, need to...

- [ ] De-risk multithreading #834
- [  ] Fix any path issues

[2019-07-15 20:48] pdichiaro commented on #1370
they are like polygons that surround cells like the screenshot below.

<img width="1027" alt="Screenshot 2019-07-15 at 22 19 00" src="https://user-images.githubusercontent.com/50377927/61246789-f2d7e180-a74f-11e9-8434-2d0a28b02e98.png">

I think I can create a segmentation mask using ROI and Fiji. Maybe it is possible to import it in starfish with label_image.

[2019-07-15 21:38] nbingo opened #1449 "Seeming loss of type information in STARmap example notebook"
I'm simply working through the STARmap example notebook, but I'm getting an error when I try to run `starfish.intensity_table.intensity_table.IntensityTable.to_decoded_spots()` on the Intensity Table `decoded`. Right now when I run the entire example notebook then run:
`starfish.intensity_table.intensity_table.IntensityTable.to_decoded_spots(decoded)`
I get
[code]
However, `decoded` is an Intensit

[2019-07-15 22:47] shanaxel42 commented on #1088
no more cli!

[2019-07-15 22:47] #1088 closed

[2019-07-16 16:31] shanaxel42 opened #1450 "Harmonize of spot finding"

[2019-07-16 17:01] #1261 closed

[2019-07-16 17:09] shanaxel42 commented on #1051
currently waiting on https://github.com/scikit-image/scikit-image/pull/4023/files

[2019-07-16 22:02] shanaxel42 opened #1453 "Add flag to `concatenate_intensity_tables()` to compare the given overlap strategy on a per axis basis."
This is to address #1432 specifically the take_max strategy should be evaluated per round

[2019-07-16 22:30] shanaxel42 commented on #1432
closing in favor of #1453 @njmei let me know if I should reopen!

[2019-07-16 22:30] #1432 closed

[2019-07-17 10:24] pdichiaro opened #1454 "Automatic threshold using Spot Detection"
I use LocalSearchBlobDetector  to find spots of different sizes in seqFISH. I was wondering if there is a function to establish a threshold value plotting the number of spots found upon thresholding the filtered image as a function of the threshold value.

[2019-07-17 17:59] shanaxel42 commented on #1332
@berl @njmei @kevinyamauchi sounds like we're settling on option 1, are we cool to proceed?

[2019-07-17 18:00] #1307 closed

[2019-07-18 14:13] ambrosejcarr commented on #1454
Thank you for the issue! Our spot finding is currently somewhat fragmented. @shanaxel42 has begun work to reconcile our various spot finders. You can see a sketch of the plans in #1005 .

As it stands, we _do_ implement an auto threshold-finding approach, but only in the LocalMaxPeakFinder. It evaluates the number of spots detected at various thresholds and picks a threshold in the stable regime o

[2019-07-18 16:51] kevinyamauchi commented on #1301
Hey @ambrosejcarr ! Sorry it's taken so long. I ended up needing to dig into the PixelSpotDetector more than I thought. In short, just masking the `ImageStack` or `IntensityTable` and feeding it into the `PixelSpotDetector` is not straightforward because `CombineAdjacentFeatures` reconstructs an image by reshaping the decoded `IntensityTable`. Thus, non-rectangular masks don't work. Also, the pixe

[2019-07-19 17:58] #1398 closed

[2019-07-19 18:01] shanaxel42 opened #1459 "Refactor physical coordinate's"
Rules:

Pixel's origin (0, 0) is at the center of a pixel
A tile's physical min coordinate is the left/top extent of the tile, and the physical max coordinate is the right/bottom of the tile.

This was the outcome of the detailed research and conversation from #1332

[2019-07-19 18:02] shanaxel42 commented on #1332
We have chosen option 1! Work todo captured here #1459

[2019-07-19 18:02] #1332 closed

[2019-07-19 19:42] shanaxel42 commented on #1449
Hey @nbingo! So you're going to want to call `to_decoded_spots` on your IntensityTable instance, so  try `decoded.to_decoded_spots()`?

[2019-07-19 22:09] nbingo commented on #1449
@shanaxel42 thanks for helping! That's what I initially did, but I get this error:

[code]

[2019-07-24 00:46] ambrosejcarr commented on #1450
I think you're on to something here. :-)

I have some clarifying questions.

-----

is "an image" here an arbitrary series of 2d or 3d planes?

-----

For the ISS example, should

be `p = LocateSpots.BlobDetector(`?

-----

A hiccup in `GroupSpots` is that in cases where we engage in fuzzy matching (e.g. `LocalBlobDetector`, the position of the matched spots won't be the same across rounds and cha

[2019-07-24 05:49] ttung commented on #1450
My opinions (and therefore @shanaxel42 should chime in with her opinion).

It should be a 5D tensor, with axes that we group by.

output, and won't be a good substrate for MeasureSpots.

If we group a bunch of spots with pixel coordinates that are not identical, would we need the coordinates of each spot in each r·c?  Would the average location not suffice?  MeasureSpots could have an implementati

[2019-07-24 14:21] ambrosejcarr commented on #1450
Spot finders really only work on 2d and 3d images, though -- grouping over `([r|c], z, y, x)` would likely produce weird discontinuities in the `(r, c)` dimensions since we don't expect coherent spot locations across rounds or channels. So, refining this, it should be a 5d tensor, and accept grouping over `(y, x)` or `(z, y, x)`, similar to the `is_volume` flag we have now?

I think we would, beca

[2019-07-24 15:43] shanaxel42 commented on #1450
Yes SpotLocate will always accept a 5d tensor and will work the same as the `is_volume` does now. So it will either apply the function to 2d or 3d tiles.

trackpy currently creates SpotAttribute with `'y', 'x', 'total_intensity', 'radius', 'eccentricity', 'intensity', 'raw_mass', 'ep'` then uses the regular 'measure_spots` method the rest of the algorithms do so I see this fitting pretty nicely in

[2019-07-25 19:09] nbingo commented on #1449
I've still been messing around with it and have had no success. Any ideas @shanaxel42?

Thanks!

[2019-07-25 21:01] shanaxel42 commented on #1449
sorry for the late response! So one reason I can think for why you might be getting that error is if somehow you're `decoded` table is no longer an IntensityTable and is just an xarray. (which would through the error `AttributeError: 'DataArray' object has no attribute 'to_decoded_spots'`. Do you mind running `type(decoded)` ?

[2019-07-25 21:28] nbingo commented on #1449
@shanaxel42, don't worry, I really appreciate the help!

I ran `type(decoded)` and, as expected for this error, I got `xarray.core.dataarray.DataArray`. I'm not sure why this would be though, especially since the return type of `to_decoded_spots()` is `IntensityTable`. My background is in C++, so I'm not used to types being forgotten while a program is running.

[2019-07-25 21:33] neuromusic commented on #602
I suggest closing this issue & keeping the README distinct from the docs

[2019-07-25 21:36] neuromusic opened #1470 "de-dupe contributing.rst"
currently, contributing.rst largely `duplicates docs/source/contributing/index.rst`

while the page in the docs is important for *code* contributors, contributing.rst is important for all contributors, including users who submit issues. in fact, Github will encourage new contributors to read this doc when they start to submit an issue

we should update contributing.rst to provide high-level guidel

[2019-07-25 21:52] neuromusic opened #1471 "add holoviews/bokeh as a backend for starfish.display"
holoviews/bokeh offers interactive visualization of n-dimensional xarray datasets, making them an ideal way to interactively explore image stacks

advantages:
- works with remote kernels
- works on Windows WSL
- can be rendered into HTML for documentation
- in-notebook selection of r/c/z, zoom, pan, etc

![image](https://user-images.githubusercontent.com/1245615/61911238-b5abe600-aeeb-11e9-98f3-77

[2019-07-25 22:29] shanaxel42 commented on #1449
do you mind sharing the code you used to get `decoded`?

[2019-07-25 22:43] neuromusic opened #1472 "set 'xc', 'yc', and 'zc' as coordinates on the x, y, and z dimensions"
**As a** user working with xarray data,
**I want** my imagestack xarray to have physical coordinates for all the dimensions **so that** I can easily explore and slice my imagestack using tools like holoviews and bokeh.

### Acceptance Criteria

1. If I pass an ImageStack's `xarray` into `holoviews.Dataset`
1. it should "just work"

[code]

### Resources:

* Holoviews Gridded Datasets: http://holov

[2019-07-25 22:46] neuromusic commented on #1471
Note: the "rendering imagestacks in holoviews" part of this may be easier with #1472

[2019-07-25 22:49] nbingo commented on #1449
I'm using the example STARmap notebook in the notebooks folder. I have it copied here as well. I ran `type(decoded) `right after this:
[code]

[2019-07-25 22:58] #1472 closed

[2019-07-25 22:59] neuromusic commented on #1471
after @shanaxel42 reminded me of #1136, I'm closing #1472

one barrier to using holoviews with the imagestack xarray is that x and y don't have coordinates.

this works, however...

[code]